In [207]:
import pandas as pd
import numpy as np
df = pd.read_csv('womenshoes.zip')

In [160]:
df.columns

Index(['id', 'asins', 'brand', 'categories', 'colors', 'count', 'dateAdded',
       'dateUpdated', 'descriptions', 'dimension', 'ean', 'features',
       'flavors', 'imageURLs', 'isbn', 'keys', 'manufacturer',
       'manufacturerNumber', 'merchants', 'name', 'prices.amountMin',
       'prices.amountMax', 'prices.availability', 'prices.color',
       'prices.condition', 'prices.count', 'prices.currency',
       'prices.dateAdded', 'prices.dateSeen', 'prices.flavor', 'prices.isSale',
       'prices.merchant', 'prices.offer', 'prices.returnPolicy',
       'prices.shipping', 'prices.size', 'prices.source', 'prices.sourceURLs',
       'prices.warranty', 'quantities', 'reviews', 'sizes', 'skus',
       'sourceURLs', 'upc', 'vin', 'websiteIDs', 'weight', 'Unnamed: 48',
       'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51'],
      dtype='object')

In [161]:
df.shape

(33801, 52)

### Missing values

In [208]:
def nas_sorted(df):
    return df.isnull().sum().sort_values(ascending = False)
sorted_nas = nas_sorted(df)
sorted_nas

prices.count           33801
prices.warranty        33801
Unnamed: 49            33801
Unnamed: 48            33801
count                  33801
websiteIDs             33801
vin                    33801
flavors                33801
isbn                   33801
Unnamed: 50            33801
prices.flavor          33801
prices.source          33801
Unnamed: 51            33800
prices.availability    33494
dimension              32624
weight                 32538
prices.returnPolicy    32427
asins                  31379
prices.shipping        29853
reviews                29613
prices.offer           27003
sizes                  25199
manufacturer           24522
ean                    24023
upc                    23077
prices.condition       21786
merchants              18419
prices.size            18410
prices.color           16380
quantities             15311
colors                 13957
skus                   11666
imageURLs              11492
features                6620
descriptions            5376
prices.merchant         3875
manufacturerNumber      2367
brand                    984
dateAdded                  0
dateUpdated                0
categories                 0
name                       0
sourceURLs                 0
keys                       0
prices.sourceURLs          0
prices.amountMin           0
prices.amountMax           0
prices.currency            0
prices.dateAdded           0
prices.dateSeen            0
prices.isSale              0
id                         0
dtype: int64

In [209]:
pd.set_option('display.max_rows',100)

### Drop columns with all missing values

In [210]:
df.dropna(axis='columns', how='all', inplace=True)

In [211]:
df.dropna(thresh=27, inplace = True)

In [212]:
df.dropna(axis='columns', how='all', inplace=True)

In [213]:
nas_sorted(df)

weight                 6484
prices.availability    6426
asins                  6245
dimension              6127
prices.returnPolicy    5532
reviews                5244
prices.shipping        5170
quantities             4511
prices.offer           4065
prices.size            3724
prices.color           3639
manufacturer           3081
skus                   2678
ean                    2040
prices.condition       1864
upc                    1756
sizes                  1597
descriptions            965
features                844
prices.merchant         495
colors                  462
manufacturerNumber      193
merchants               149
imageURLs                 8
brand                     5
dateUpdated               0
dateAdded                 0
categories                0
sourceURLs                0
prices.amountMax          0
keys                      0
name                      0
prices.amountMin          0
prices.currency           0
prices.dateAdded          0
prices.dateSeen           0
prices.isSale             0
prices.sourceURLs         0
id                        0
dtype: int64

### Find outliers

In [499]:
np.arange(-3, 4, 1)

array([-3, -2, -1,  0,  1,  2,  3])

In [498]:
from scipy import stats

def percentiles(column):
    z_scores = stats.zscore(column)
    # segment based on number of standard deviations away from the mean     
    hist, bin_edges = np.histogram(z_scores, bins=np.arange(-3, 4, 1), density=True)
    return np.stack((hist, bin_edges[1:]))

In [15]:
percentiles(df['prices.amountMax'])

array([[ 0.        ,  0.        ,  0.85676802,  0.07007254,  0.02484951,
         0.04830992],
       [-2.        , -1.        ,  0.        ,  1.        ,  2.        ,
         3.        ]])

#### for the prices.amountMax column, we see there are some outliers between  z-score 2 and 3.

In [500]:
def too_many_outliers(column, threshold = .05):
    #  expected .021 if normal distribution
    z_less_neg_two = percentiles(column)[0, 0]
    z_gt_two = percentiles(column)[0, -1]
    if z_less_neg_two > threshold or z_gt_two > threshold:
        return np.hstack((column.name, z_less_neg_two, z_gt_two))
    else:
        False

In [501]:
def outlier_columns(df, threshold = .05):
    numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns
    outlier_columns = np.array([too_many_outliers(df[column]) for column in numeric_columns])
    return np.array([column for column in outlier_columns if column is not None])

In [502]:
def select_outliers(column, upper_tail = True):
    if upper_tail:
        return column[stats.zscore(column) > 2]
    else:
        return column[stats.zscore(column) < -2]

In [19]:
outlier_columns(df)

C:\Users\51759\Anaconda3\lib\site-packages\numpy\lib\histograms.py:893: RuntimeWarning: invalid value encountered in true_divide
  return n/db/n.sum(), bin_edges

array([], dtype=float64)

### No outliers? Really? Let's check out.

In [20]:
# numerical columns we have
df.select_dtypes(include=['float64', 'int64']).columns

Index(['ean', 'prices.amountMin', 'prices.amountMax', 'upc'], dtype='object')

In [16]:
# from the nan amount of columns we checked before, we can figure out that only 'prices.amountMin' and 'prices.amountMax' are
# valuable data with no missing value. And the rest of them have over  two third of missing values, or even total missing ones.
percentiles(df['ean'])

array([[nan, nan, nan, nan, nan, nan],
       [-2., -1.,  0.,  1.,  2.,  3.]])

In [21]:
percentiles(df['prices.amountMin'])

array([[ 0.        ,  0.        ,  0.85892885,  0.06791171,  0.02484951,
         0.04830992],
       [-2.        , -1.        ,  0.        ,  1.        ,  2.        ,
         3.        ]])

In [22]:
percentiles(df['upc'])

array([[nan, nan, nan, nan, nan, nan],
       [-2., -1.,  0.,  1.,  2.,  3.]])

In [17]:
#select_outliers(df['prices.amountMax']).value_counts()

### Currency convert

In [214]:
# there are many non-US dollars values in currency column, we need to convert them into US dollars.
df['prices.currency'].value_counts()

USD    6663
CAD      37
AUD       1
Name: prices.currency, dtype: int64

In [215]:
df_currency_nonUSD = list(df[df['prices.currency'] != 'USD'].index)

In [216]:
df_nonUSD = df[df['prices.currency'] != 'USD']

In [217]:
df_nonUSD[:3]

,id,asins,brand,categories,colors,dateAdded,dateUpdated,descriptions,dimension,ean,...,prices.shipping,prices.size,prices.sourceURLs,quantities,reviews,sizes,skus,sourceURLs,upc,weight
1655,AVpe7vNAilAPnD_xRMsN,"B011SAUSXO,B011GCU5QY",Alfani,"Shoes,Women's Shoes,Clothing,All Women's Shoes...",Black,2015-08-14T22:32:14Z,2016-11-04T03:10:32Z,"[{""dateSeen"":[""2016-11-04T03:10:32Z""],""sourceU...",NaN,6.083560e+11,...,CAD 19.99,NaN,http://www.amazon.ca/Alfani-Lyrra-Womens-Black...,NaN,NaN,"8.5,7,8",NaN,https://www.walmart.com/ip/Alfani-Lyrra-Peep-T...,6.083560e+11,905 grams
1657,AVpe7vNAilAPnD_xRMsN,"B011SAUSXO,B011GCU5QY",Alfani,"Shoes,Women's Shoes,Clothing,All Women's Shoes...",Black,2015-08-14T22:32:14Z,2016-11-04T03:10:32Z,"[{""dateSeen"":[""2016-11-04T03:10:32Z""],""sourceU...",NaN,6.083560e+11,...,CAD 19.99,NaN,http://www.amazon.ca/Alfani-Lyrra-Womens-Black...,NaN,NaN,"8.5,7,8",NaN,https://www.walmart.com/ip/Alfani-Lyrra-Peep-T...,6.083560e+11,905 grams
1659,AVpe7vNAilAPnD_xRMsN,"B011SAUSXO,B011GCU5QY",Alfani,"Shoes,Women's Shoes,Clothing,All Women's Shoes...",Black,2015-08-14T22:32:14Z,2016-11-04T03:10:32Z,"[{""dateSeen"":[""2016-11-04T03:10:32Z""],""sourceU...",NaN,6.083560e+11,...,CAD 19.99,NaN,http://www.amazon.ca/Alfani-Lyrra-Womens-Black...,NaN,NaN,"8.5,7,8",NaN,https://www.walmart.com/ip/Alfani-Lyrra-Peep-T...,6.083560e+11,905 grams

In [218]:
len(df_nonUSD['prices.currency'])

38

In [219]:
import requests
# Where USD is the base currency you want to use
url = 'https://api.exchangerate-api.com/v4/latest/USD'

# Making our request
response = requests.get(url)
currency_data = response.json()

# Your JSON object
#currency_data

In [220]:
def convert_nonUSD_to_USD(price_col, curr_col, ratio_col):
    return price_col / [ratio_col.get(curr_col.iloc[i]) for i in range(len(curr_col))]

In [221]:
convert_nonUSD_to_USD(df_nonUSD['prices.amountMax'], df_nonUSD['prices.currency'], currency_data['rates'])[:2]

1655    61.263804
1657    31.002510
Name: prices.amountMax, dtype: float64

In [222]:
def convert_nonUSD_to_USD_1(df, price_col, curr_col, ratio_col):
    return df[price_col] / [ratio_col.get(df[curr_col].iloc[i]) for i in range(len(df[curr_col]))]

In [223]:
new_price_max = convert_nonUSD_to_USD_1(df_nonUSD, 'prices.amountMax', 'prices.currency', currency_data['rates'])

In [224]:
def convert_currency_df(df, price_set, curr_col, ratio_col):
    df_all_USD = pd.DataFrame()
    for i in range(len(price_set)):
        df_all_USD[price_set[i]] = convert_nonUSD_to_USD_1(df, price_set[i], curr_col, ratio_col)
    return df_all_USD

In [225]:
price_set = ['prices.amountMin', 'prices.amountMax']

In [226]:
price_cols_all_USD = convert_currency_df(df, price_set, 'prices.currency', currency_data['rates'])

In [227]:
price_cols_all_USD.loc[1655,:]

prices.amountMin    61.263804
prices.amountMax    61.263804
Name: 1655, dtype: float64

In [228]:
df[price_set].loc[1655,:]

prices.amountMin    81.0
prices.amountMax    81.0
Name: 1655, dtype: float64

In [229]:
# we can see index = 1655 is a CAD currency, and the value in price_cols_all_USD is after converting.
df[price_set] = price_cols_all_USD

In [230]:
df[price_set].loc[1655,:]
# we can see it's changed after assigning new values

prices.amountMin    61.263804
prices.amountMax    61.263804
Name: 1655, dtype: float64

In [231]:
nas_sorted(df)

weight                 6484
prices.availability    6426
asins                  6245
dimension              6127
prices.returnPolicy    5532
reviews                5244
prices.shipping        5170
quantities             4511
prices.offer           4065
prices.size            3724
prices.color           3639
manufacturer           3081
skus                   2678
ean                    2040
prices.condition       1864
upc                    1756
sizes                  1597
descriptions            965
features                844
prices.merchant         495
colors                  462
manufacturerNumber      193
merchants               149
imageURLs                 8
brand                     5
dateUpdated               0
dateAdded                 0
categories                0
sourceURLs                0
prices.amountMax          0
keys                      0
name                      0
prices.amountMin          0
prices.currency           0
prices.dateAdded          0
prices.dateSeen           0
prices.isSale             0
prices.sourceURLs         0
id                        0
dtype: int64

In [232]:
df[:2].T

,10,11
id,AVpe_0ob1cnluZ0-bnWr,AVpe_0ob1cnluZ0-bnWr
asins,NaN,NaN
brand,BEAUTIFEET,BEAUTIFEET
categories,"Shoes,Women's Shoes,Clothing,All Women's Shoes","Shoes,Women's Shoes,Clothing,All Women's Shoes"
colors,"Multicolor,MULTI","Multicolor,MULTI"
dateAdded,2016-11-04T03:11:11Z,2016-11-04T03:11:11Z
dateUpdated,2016-11-04T03:11:11Z,2016-11-04T03:11:11Z
descriptions,"[{""dateSeen"":[""2016-11-04T03:11:11Z""],""sourceU...","[{""dateSeen"":[""2016-11-04T03:11:11Z""],""sourceU..."
dimension,6.0 in x 6.0 in x 1.0 in,6.0 in x 6.0 in x 1.0 in
ean,9.65065e+10,9.65065e+10
features,"[{""key"":""Recommended Use"",""value"":[""NOT STATED...","[{""key"":""Recommended Use"",""value"":[""NOT STATED..."
imageURLs,https://i5.walmartimages.com/asr/3990181c-1f37...,https://i5.walmartimages.com/asr/3990181c-1f37...
keys,"096506461056,0096506461056,sofcomfortwomenseve...","096506461056,0096506461056,sofcomfortwomenseve..."
manufacturer,NaN,NaN
manufacturerNumber,46105,46105
merchants,"[{""dateSeen"":[""2016-11-04T03:11:11Z""],""name"":""...","[{""dateSeen"":[""2016-11-04T03:11:11Z""],""name"":""..."
name,"Sof Comfort Women's Everyday Gel Insoles, 2-pair","Sof Comfort Women's Everyday Gel Insoles, 2-pair"
prices.amountMin,10,8
prices.amountMax,10,8
prices.availability,NaN,NaN
prices.color,NaN,NaN
prices.condition,new,new
prices.currency,USD,USD
prices.dateAdded,2016-11-04T03:11:11Z,2016-11-04T03:11:11Z
prices.dateSeen,2016-11-03T00:00:00Z,2015-11-03T00:00:00Z
prices.isSale,False,False
prices.merchant,Walmart store - Walmart.com,Walmart store - Walmart.com
prices.offer,NaN,NaN
prices.returnPolicy,NaN,NaN
prices.shipping,NaN,FREE shipping on orders 50 +
prices.size,NaN,NaN
prices.sourceURLs,https://www.walmart.com/ip/Sof-Comfort-Women-s...,http://www.walmart.com/ip/Sof-Comfort-Women-s-...
quantities,NaN,NaN
reviews,NaN,NaN
sizes,NaN,NaN
skus,"[{""sourceURLs"":[""http://www.walmart.com/ip/Sof...","[{""sourceURLs"":[""http://www.walmart.com/ip/Sof..."
sourceURLs,http://www.walmart.com/ip/Sof-Comfort-Women-s-...,http://www.walmart.com/ip/Sof-Comfort-Women-s-...
upc,9.65065e+10,9.65065e+10
weight,1.0 lbs,1.0 lbs

In [233]:
df['quantities'].value_counts()

[{"dateSeen":["2017-03-25T08:57:49.471Z","2017-02-06T20:05:11.986Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Journee-Collection-Womens-Shelley-3-Slouch-Mid-Calf-Microsuede-Boot/4233538/product.html"],"value":20}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                 57
[{"dateSeen":["2017-03-25T12:03:15.129Z","2017-02-08T15:18:51.258Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Ros-Hommerson-Delta-Penny-Loafer-Coffee-Leather/12336563/product.html"],"value":12}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                             49
[{"dateSeen":["2017-03-25T11:55:41.858Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Trotters-Gloria-Black-Soft-Kid/11798306/product.html"],"value":13}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         45
[{"dateSeen":["2017-03-25T08:53:45.275Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Apex-Sydney-Boat-Shoe-Camel-Leather/12374773/product.html"],"value":12}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    45
[{"dateSeen":["2017-03-25T11:55:46.513Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Trotters-Janet-Black-Burnished-Soft-Kidskin/11798326/product.html"],"value":3},{"dateSeen":["2017-02-15T11:07:29.434Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Trotters-Janet-Black-Burnished-Soft-Kidskin/11798326/product.html"],"value":6}]                                                                                                                                                                                                                                                                                                                      43
[{"dateSeen":["2017-03-25T11:56:34.162Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-SoftWalk-Murietta-Black-Waxy-Tumbled/11797067/product.html"],"value":12}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   43
[{"dateSeen":["2017-03-25T13:46:51.864Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/BESTON-GD52-Womens-Side-Zip-Chunky-Heel-Riding-Ankle-Booties/12142889/product.html"],"value":1},{"dateSeen":["2017-02-08T15:10:14.337Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/BESTON-GD52-Womens-Side-Zip-Chunky-Heel-Riding-Ankle-Booties/12142889/product.html"],"value":2}]                                                                                                                                                                                                                                                                                                  41
[{"dateSeen":["2017-03-25T14:44:01.086Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Journee-Collection-Womens-Lisa-Sueded-T-strap-Round-Toe-Pumps/7217781/product.html"],"value":1},{"dateSeen":["2017-02-12T10:14:51.907Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Journee-Collection-Womens-Lisa-Sueded-T-strap-Round-Toe-Pumps/7217781/product.html"],"value":12}]                                                                                                                                                                                                                                                                                                 38
[{"dateSeen":["2017-03-25T11:56:28.152Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-SoftWalk-Abby-Dark-Brown-Oily-Leather/11796856/product.html"],"value":11}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  37
[{"dateSeen":["2017-03-25T09:19:27.388Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Propet-Breeze-Walker-Teak-Brown-Smooth/8998316/product.html"],"value":3},{"dateSeen":["2017-02-15T10:55:16.627Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Propet-Breeze-Walker-Teak-Brown-Smooth/8998316/product.html"],"value":10}]                                                                                                                                                                                                                                                                                                                                 34
[{"dateSeen":["2017-03-25T09:19:19.010Z","2017-02-08T15:22:31.174Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Daniel-Green-Denise-Multi-Metallic/9255514/product.html"],"value":2}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            33
[{"dateSeen":["2017-03-25T15:16:14.322Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Propet-Merlin-Poppy/8780766/product.html"],"value":14},{"dateSeen":["2017-02-12T11:05:32.437Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Propet-Merlin-Poppy/8780766/product.html"],"value":15}]                                                                                                                                                                                                                                                                                                                                                                      32
[{"dateSeen":["2017-03-25T09:31:53.953Z","2017-02-06T20:05:00.737Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/NATURE-BREEZE-FE61-Women-Snap-Cuff-Over-The-Knee-Flat-Heel-Boots/12854380/product.html"],"value":3}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                    31
[{"dateSeen":["2017-03-25T09:22:42.277Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/CAPE-ROBBIN-DD17-Womens-Side-zip-Block-Heel-Stretchy-Snug-Fit-Thigh-High-Boots/12021074/product.html"],"value":1},{"dateSeen":["2017-02-12T10:09:21.735Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/CAPE-ROBBIN-DD17-Womens-Side-zip-Block-Heel-Stretchy-Snug-Fit-Thigh-High-Boots/12021074/product.html"],"value":20}]                                                                                                                                                                                                                                                             30
[{"dateSeen":["2017-03-25T11:44:42.059Z","2017-03-25T04:17:21.177Z","2017-02-08T15:29:38.808Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Dansko-Professional-Clog-Black-Cabrio/13345561/product.html","https://www.overstock.com/Clothing-Shoes/Mens-Dansko-Professional-Clog-Black-Cabrio-Leather/13345581/product.html"],"value":18}]                                                                                                                                                                                                                                                                                                                                        28
[{"dateSeen":["2017-03-25T11:55:36.762Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Trotters-Arianna-Black-Patent-Leather-Burnished-Soft-Kid/11798170/product.html"],"value":10},{"dateSeen":["2017-02-08T15:18:59.751Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Trotters-Arianna-Black-Patent-Leather-Burnished-Soft-Kid/11798170/product.html"],"value":13}]                                                                                                                                                                                                                                                                                          28
[{"dateSeen":["2017-03-25T13:52:37.831Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Touch-Ups-Geri-Silver-Metallic/11797859/product.html"],"value":19},{"dateSeen":["2017-02-15T11:15:13.772Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Touch-Ups-Geri-Silver-Metallic/11797859/product.html"],"value":7}]                                                                                                                                                                                                                                                                                                                                               28
[{"dateSeen":["2017-03-25T13:39:06.881Z","2017-02-12T11:33:18.501Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/CAPE-ROBBIN-GD73-Womens-Pointy-Toe-Low-Heel-Slip-On-Ankle-Booties-Half-Size-Big/12490754/product.html"],"value":1}]                                                                                                                                                                                                                                                                                                                                                                                                                                                     27
[{"dateSeen":["2017-03-25T09:35:59.980Z","2017-02-12T10:09:27.901Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Nature-Breeze-FF79-Womens-Black-Tan-Green-Faux-Leather-Mid-calf-Lace-up-Inside-Zip-Duck-Boots/13436188/product.html"],"value":2}]                                                                                                                                                                                                                                                                                                                                                                                                                                       27
[{"dateSeen":["2017-03-25T09:18:32.509Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Dyeables-Anette-Silver-Metallic/9257523/product.html"],"value":11},{"dateSeen":["2017-02-08T15:18:12.985Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Dyeables-Anette-Silver-Metallic/9257523/product.html"],"value":12},{"dateSeen":["2017-02-08T15:11:50.434Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Dyeables-Anette-Gold-Metallic/9257522/product.html"],"value":2}]                                                                                                                                                                      26
[{"dateSeen":["2017-03-25T09:18:35.516Z","2017-02-08T15:11:50.434Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Dyeables-Anette-Gold-Metallic/9257522/product.html"],"value":2},{"dateSeen":["2017-02-08T15:18:12.985Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Dyeables-Anette-Silver-Metallic/9257523/product.html"],"value":12}]                                                                                                                                                                                                                                                                                                                      25
[{"dateSeen":["2017-03-25T14:54:35.515Z","2017-02-12T10:10:08.542Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Forever-Womens-IC08-Faux-Suede-Stacked-Heel-Side-Zipper-Over-the-knee-Boots/13790835/product.html"],"value":1}]                                                                                                                                                                                                                                                                                                                                                                                                                                                         23
[{"dateSeen":["2017-03-25T13:39:50.147Z","2017-03-25T09:23:06.928Z","2017-02-07T00:00:04.693Z","2017-03-25T13:39:41.199Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Nomad-Puddles-Boot-Berry-Gold-Hatch/11689905/product.html","https://www.overstock.com/Clothing-Shoes/Womens-Nomad-Hurricane-II-Rain-Boot-Mint/11712678/product.html","https://www.overstock.com/Clothing-Shoes/Womens-Nomad-Puddles-Boot-Irises/11448297/product.html","https://www.overstock.com/Clothing-Shoes/Womens-Nomad-Hurricane-II-Rain-Boot-Beige/11712677/product.html","https://www.overstock.com/Clothing-Shoes/Womens-Nomad-Puddles-Black-White-Chevron/9259721/product.html"],"value":9}]    22
[{"dateSeen":["2017-03-25T11:44:42.716Z","2017-03-25T04:17:24.523Z","2017-02-12T14:39:19.446Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Dansko-Professional-Clog-Black-Box/13345551/product.html","https://www.overstock.com/Clothing-Shoes/Mens-Dansko-Professional-Clog-Black-Box-Leather/13345579/product.html"],"value":19}]                                                                                                                                                                                                                                                                                                                                              21
[{"dateSeen":["2017-03-25T12:06:27.093Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Nina-Carolyn-Open-Toe-Pump-Ivory-Luster-Satin/11793289/product.html"],"value":19}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          21
[{"dateSeen":["2017-03-25T09:23:06.638Z","2017-02-08T15:07:56.652Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Skechers-Relaxed-Fit-Bikers-Pedestrian-Black/8633600/product.html"],"value":19}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 20
[{"dateSeen":["2017-03-25T09:09:51.170Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Daniel-Green-Ava-Black/9255509/product.html"],"value":18},{"dateSeen":["2017-02-08T15:22:39.897Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Daniel-Green-Ava-Black/9255509/product.html"],"value":19}]                                                                                                                                                                                                                                                                                                                                                                19
[{"dateSeen":["2017-03-25T11:30:23.041Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Naturalizer-Tanita-Boot-Black-Oklahoma-Leather/10774087/product.html"],"value":19},{"dateSeen":["2017-02-08T15:14:34.992Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-Naturalizer-Tanita-Boot-Black-Oklahoma-Leather/10774087/product.html"],"value":18}]                                                                                                                                                                                                                                                                                                              19
[{"dateSeen":["2017-03-25T11:50:20.043Z"],"sourceURLs":["https://www.overstock.com/Clothing-Shoes/Womens-VANELi-Inez-Wedge-Sandal-Black-Suede/11171359/product.html"],"value":19}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   19

we can see from the above cell, the information includes many other infor except quantities, e.g. dateseen, sourceURLs,etc, which can also seen in others columns.
And for the quantities value, we can extract later.

In [234]:
df.dtypes

id                      object
asins                   object
brand                   object
categories              object
colors                  object
dateAdded               object
dateUpdated             object
descriptions            object
dimension               object
ean                    float64
features                object
imageURLs               object
keys                    object
manufacturer            object
manufacturerNumber      object
merchants               object
name                    object
prices.amountMin       float64
prices.amountMax       float64
prices.availability     object
prices.color            object
prices.condition        object
prices.currency         object
prices.dateAdded        object
prices.dateSeen         object
prices.isSale             bool
prices.merchant         object
prices.offer            object
prices.returnPolicy     object
prices.shipping         object
prices.size             object
prices.sourceURLs       object
quantities              object
reviews                 object
sizes                   object
skus                    object
sourceURLs              object
upc                    float64
weight                  object
dtype: object

In [235]:
df['prices.offer'].value_counts()
# in this column, it mainly includes reduced, clearance, rollback, winningbid

winning bid             180
REDUCED                  45
ROLLBACK                 33
REDUCED USD 40.01        24
REDUCED USD 28.01        24
CLEARANCE USD 19.01      24
CLEARANCE USD 55.01      22
CLEARANCE USD 42.01      21
REDUCED USD 36.01        20
REDUCED USD 32.01        19
CLEARANCE USD 45.01      19
REDUCED USD 25.01        19
REDUCED USD 52.01        19
REDUCED USD 30.01        19
CLEARANCE USD 62.01      18
REDUCED USD 20.01        18
REDUCED USD 12.01        17
REDUCED USD 27.01        17
CLEARANCE USD 53.01      17
REDUCED USD 19.01        17
CLEARANCE USD 50.01      17
CLEARANCE USD 46.01      16
CLEARANCE                16
CLEARANCE USD 75.01      16
CLEARANCE USD 54.01      16
CLEARANCE USD 36.01      16
REDUCED USD 23.01        16
CLEARANCE USD 57.01      15
CLEARANCE USD 63.01      15
REDUCED USD 18.01        15
REDUCED USD 47.01        15
REDUCED USD 35.01        15
CLEARANCE USD 61.01      14
REDUCED USD 54.01        14
CLEARANCE USD 65.01      14
REDUCED USD 29.01        14
REDUCED USD 15.01        14
CLEARANCE USD 40.01      14
CLEARANCE USD 39.01      14
REDUCED USD 37.01        13
REDUCED USD 34.01        13
REDUCED USD 38.01        13
REDUCED USD 22.01        13
CLEARANCE USD 51.01      13
CLEARANCE USD 32.01      13
CLEARANCE USD 56.01      12
REDUCED USD 13.01        12
REDUCED USD 10.01        12
REDUCED USD 21.01        12
CLEARANCE USD 71.01      12
                       ...
REDUCED USD 103.01        1
REDUCED USD 121.01        1
REDUCED USD 20.02         1
REDUCED USD 17.00         1
REDUCEDUSD 55.05          1
ROLLBACKUSD 4.99          1
CLEARANCE USD 328.01      1
CLEARANCE USD 305.01      1
CLEARANCE USD 239.01      1
CLEARANCE USD 24.02       1
CLEARANCE USD 176.01      1
REDUCED USD 15.15         1
REDUCED USD 27.04         1
CLEARANCE USD 60.02       1
CLEARANCEUSD 4.97         1
USD 17.00                 1
31% off                   1
REDUCED USD 35.56         1
CLEARANCE USD 12.97       1
CLEARANCE USD 102.01      1
REDUCED USD 88.01         1
CLEARANCE USD 54.02       1
REDUCED USD 40.02         1
CLEARANCE USD 12.04       1
REDUCED USD 18.02         1
REDUCED USD 6.05          1
REDUCED USD 16.68         1
REDUCED USD 96.01         1
REDUCED USD 18.04         1
ROLLBACKUSD 10.97         1
CLEARANCE USD 222.01      1
CLEARANCE USD 178.01      1
CLEARANCE USD 220.01      1
REDUCED USD 64.01         1
CLEARANCE USD 158.01      1
REDUCED USD 30.44         1
REDUCED USD 31.51         1
CLEARANCE USD 13.23       1
CLEARANCE USD 281.01      1
REDUCED USD 32.29         1
REDUCED USD 106.00        1
CLEARANCE USD 199.01      1
CLEARANCE USD 2.20        1
REDUCED USD 43.00         1
CLEARANCEUSD 40           1
USD 5.25                  1
CLEARANCE USD 59.51       1
REDUCED USD 19.02         1
CLEARANCE USD 38.02       1
REDUCED USD 12.39         1
Name: prices.offer, Length: 715, dtype: int64

### Brand column fixing

In [236]:
nas_sorted(df)

weight                 6484
prices.availability    6426
asins                  6245
dimension              6127
prices.returnPolicy    5532
reviews                5244
prices.shipping        5170
quantities             4511
prices.offer           4065
prices.size            3724
prices.color           3639
manufacturer           3081
skus                   2678
ean                    2040
prices.condition       1864
upc                    1756
sizes                  1597
descriptions            965
features                844
prices.merchant         495
colors                  462
manufacturerNumber      193
merchants               149
imageURLs                 8
brand                     5
dateUpdated               0
dateAdded                 0
categories                0
sourceURLs                0
prices.amountMax          0
keys                      0
name                      0
prices.amountMin          0
prices.currency           0
prices.dateAdded          0
prices.dateSeen           0
prices.isSale             0
prices.sourceURLs         0
id                        0
dtype: int64

In [237]:
df.brand.value_counts(normalize = True)

Ralph Lauren            0.124403
Nike                    0.033751
Nine West               0.025388
Trotters                0.022252
SoftWalk                0.020012
Easy Spirit             0.017622
New Balance             0.016428
Journee Collection      0.015084
Nature Breeze           0.014486
MUK LUKS                0.014038
Brinley Co.             0.013889
CAPE ROBBIN             0.012843
Propet                  0.012843
Dyeables                0.012694
TOMS                    0.012694
Faded Glory             0.012097
Nina                    0.011947
Dr. Scholl's            0.011499
Ros Hommerson           0.010753
Naturalizer             0.010753
Skechers                0.010454
VANS                    0.009857
Daniel Green            0.009857
Alfani                  0.008363
MICHAEL Michael Kors    0.008214
Dansko                  0.008214
Bearpaw                 0.008065
Nomad                   0.007467
Touch Ups               0.007467
Qupid                   0.007019
Unbranded               0.006870
Apex                    0.006720
Asics                   0.006272
Beston                  0.006123
Style & Co.             0.006123
Reebok                  0.006123
Spenco                  0.005974
Earth Spirit            0.005824
Marc Fisher             0.005824
Converse                0.005675
VIA PINKY               0.005675
Mia                     0.005376
Vaneli                  0.005376
Forever                 0.005078
Acorn                   0.005078
Under Armour            0.004779
Easy Street             0.004630
C Label                 0.004630
Mo Mo                   0.004630
Vince Camuto            0.004331
                          ...
Korks                   0.000149
Ariat                   0.000149
Yuu                     0.000149
Ann Marino              0.000149
Delman                  0.000149
FERGIE                  0.000149
Aeropostale             0.000149
Kendall + Kylie         0.000149
Naya                    0.000149
Skechers USA            0.000149
Life Stride             0.000149
Drew Shoe               0.000149
BCBG                    0.000149
Adidas                  0.000149
Staheekum               0.000149
Italian Shoe Makers     0.000149
Adriana New York        0.000149
TopTie                  0.000149
Munro American          0.000149
LA GEAR                 0.000149
NINE WEST               0.000149
Earth                   0.000149
Sperry Top-Sider        0.000149
Jack Rogers             0.000149
Kate Spade              0.000149
Comfy Feet              0.000149
Coloriffics             0.000149
Cleopatra               0.000149
Sesto Meucci            0.000149
Cole Haan               0.000149
Joie                    0.000149
OTBT                    0.000149
kate spade              0.000149
Corral                  0.000149
Toms                    0.000149
Leg Avenue              0.000149
CORKYS                  0.000149
Bare Traps              0.000149
La Canadienne           0.000149
Alice & Olivia          0.000149
Proxy                   0.000149
flojos                  0.000149
LFL                     0.000149
Rockport                0.000149
Ed Hardy                0.000149
Report Signature        0.000149
Flogg                   0.000149
Pajar                   0.000149
Ellen Tracy             0.000149
Anywear                 0.000149
Name: brand, Length: 493, dtype: float64

#### we'll set a bar to keep only some brands and set others to a group 'other' later

### Category column fixing

In [238]:
import re
df['categories'].value_counts()

Shoes,Women's Shoes,Clothing,All Women's Shoes                                                                  996
Clothing,Shoes,Women's Shoes,All Women's Shoes                                                                  951
Shoes,Clothing,Women's Shoes,All Women's Shoes                                                                  768
Women,Shoes,Boots                                                                                               391
Booties,Shoes,Women's Shoes,Clothing,All Women's Shoes                                                          197
Women,Shoes                                                                                                     182
Boots On Sale,Shoes,Women's Shoes,Boots,Clothing,All Women's Shoes                                              132
Sandals,Women,Shoes                                                                                             117
Loafers,Shoes,Women's Shoes,Clothing,All Women's Shoes                                                          101
Shoes,Women's Shoes,Womens' Athletic Shoes,Athletic,Women's Athletic Shoes,Clothing                              82
Women,Sandals,Shoes                                                                                              78
Shoes,Wedges,Women's Shoes,Clothing,All Women's Shoes                                                            75
Women,Shoes,Pumps                                                                                                63
Boots On Sale,Shoes,Women's Shoes,Sale,Boots,Special Offers,Journee Collection,Mid-Calf,Women                    57
Boots,Shoes,Women's Shoes,Ankle Boots                                                                            53
Shoes,Slip-ons,Women's Shoes,Dyeables,Wedge Pumps                                                                51
Sandals,Shoes,Women's Shoes,Clothing,All Women's Shoes                                                           48
Heels,Shoes,Women's Shoes,Pumps                                                                                  47
Heels,Shoes,Women's Shoes,Sandals                                                                                47
Women's Shoes                                                                                                    47
Heels,Shoes,Women's Shoes,Loafers                                                                                45
Loafers,Shoes,Women's Shoes                                                                                      44
Shoes,Women's Shoes,Womens' Athletic Shoes,Athletic,Clothing,Women's Athletic Shoes                              43
Shoes,Slip-ons,Women's Shoes,Women                                                                               43
Women's Slippers,Shoes,Clothing,Women's Shoes                                                                    41
Women's Slippers,Shoes,Women's Shoes,Clothing                                                                    40
Heels,Shoes,Women's Shoes,Journee Collection,Women,Pumps                                                         38
Shoes,Slip-ons,Women's Shoes,Women's Casual Shoes,Clothing                                                       38
Shoes,Slip-ons,Women's Shoes,Clogs,Clothing,All Women's Shoes                                                    37
Sandals,Shoes,Women's Shoes,Propet,Clothing,All Women's Shoes                                                    34
Shoes,Women's Shoes,Women's Slippers                                                                             33
Shoes,Slip-ons,Women's Shoes,Skechers,Other Slip-Ons                                                             32
Shoes,Slip-ons,Women's Shoes,Men's Shoes,Women's Casual Shoes,Clothing                                           28
Heels,Shoes,Women's Shoes,Dyeables,Sandals                                                                       28
Clothing,Shoes,Women's Shoes,Women's Slippers                                                                    27
Shoes,Women's Shoes,Womens' Athletic Shoes,Athletic,Clothing,All Women's Shoes                                   27
Sandals,Shoes,Women's Shoes,BETANI,Clothing,All Women's Shoes                                                    27
Heels,Shoes,Women's Shoes,Clothing,All Women's Shoes                                                             26
Boots On Sale,Shoes,Women's Shoes,Boots,Nature Breeze,Clothing,All Women's Shoes                                 25
Shoes,Clothing,Women's Shoes,All Women's Shoes,Women,Fashion Sneakers,Baby,Baby Girls,Sneakers,Men               23
Shoes,Women's Shoes,Womens' Athletic Shoes,Athletic,Women's Casual Shoes,Clothing                                23
Boots On Sale,Shoes,Women's Shoes,Boots,Clothing,All Women's Shoes,Women's Boots                                 22
Boots,Shoes,Women's Shoes,Clothing,All Women's Shoes                                                             22
Women's Shoes,Athletic                                                                                           22
Shoes,Women's Shoes,Womens' Athletic Shoes,Athletic,Gravity Defyer                                               21
Shoes,Women's Boots,Women's Shoes,Clothing                                                                       21
Shoes,Slip-ons,Women's Shoes,Men's Shoes,Women,Athletic                                                          21
Sandals,Shoes,Women's Shoes,Women's Sandals,Clothing,Charles by Charles David                                    19
Shoes,Women's Boots,Women's Shoes,Clothing,All Women's Shoes                                                     19
Boots On Sale,Shoes,Women's Shoes,Naturalizer,Boots,Knee-High Boots                                              19
                                                                                                               ...
Clothing, Shoes & Accessories,Women's Shoes,Boots,See more Crush by Durango Womens Brown Heartbreaker Boo...      1
Women's Shoes,See more Mercanti Fiorentini Destiny Women US 7 Black F...                                          1
Women's Shoes,See more Easy Spirit Dorlisa Women US 8 Blue Mules Blem...                                          1
Home Improvement,Shoes,Work Safety Clothing and Equipment,Clothing,Women's Shoes,All Women's Shoes                1
Shoes,Slip-ons,Women's Shoes,Clogs                                                                                1
Women's Shoes,Heels,See more American Rag Jessie Womens Size 7.5 Black Faux...                                    1
Shoes,Women,Sandals,Flip-Flops                                                                                    1
Women's Shoes,See more Michael Kors Fulton MOC Washed Denim Shoes Fla...                                          1
shoes,Women,Athletic,Running,Women's Shoes,Clothing,All Women's Shoes                                             1
Women's Shoes,See more Women's Minnetonka Moccasin Thunderbird II Moc...                                          1
Women's Shoes,Athletic,See more La Gear Ladies La Lights Latw80-3 Red Black Wo...                                 1
Clothing,Shoes,Women's Shoes,All Women's Shoes,Espadrilles                                                        1
Boots On Sale,Shoes,Women's Shoes,Clothing,Women                                                                  1
Women's Shoes,See more Via Spiga Lilac Womens Size 7 Silver Leather B...                                          1
Clothing,Shoes,Women's Shoes,Women's Boots,Cowboy Boots                                                           1
Women's Shoes,Slippers                                                                                            1
Boots On Sale,Shoes,Women's Shoes,Boots,Knee-High Boots                                                           1
Shoes,Women's Shoes,Clothing,All Women's Shoes,Wedge Pumps                                                        1
Heels,Women's Shoes                                                                                               1
Shoes,Wedges,Women's Shoes,Pumps                                                                                  1
Shoes,Slip-ons,Women's Shoes,Women,Clothing                                                                       1
clothing,Shoes,Men,Women's Casual Shoes                                                                           1
Women's Shoes,Boots,See more Michael Kors Fulton Harness Rainbootie Black W...                                    1
Women's Shoes,Athletic,See more ASICS GEL Nimbus 17 T557n 4301 Shoes Womens SN...                                 1
Women's Shoes,See more Sesto Meucci 5001 Womens Wedge Pump- Choose Sz...                                          1
Women's Shoes,See more Giani Bernini Emalia Women US 9.5 Black Flats ...                                          1
#73234 in,#9497 in,#17465 in,Shoes,Women's Boots,Women's Shoes,Clothing,All Women's Shoes                         1
Women's Shoes,See more Steve Madden Evrlast Women US 6 Gold Flats Ble...                                          1
Shoes,Wedges,Women's Shoes,Azura,Sandals                                                                          1
Shoes,Women's Shoes,Womens' Athletic Shoes,Athletic,Sporting Goods,Women                                          1
Halloween,Accessories,#23703 in,Shoes,#3531 in,Clothing,Women's Shoes,#101628 in,All Women's Shoes                1
Shoes,Slip-ons,Women's Shoes,Flats                                                                                1
Women's Shoes,Athletic,See more Easy Street Kacey Women's Size 11w Wide                                           1
Shoes,Sneakers,Women's Shoes,Women's Athletic Shoes,Clothing                                                      1
Shoes,Women,Athletic                                                                                              1
Boots On Sale,Shoes,Women's Shoes,Boots,Clothing,Men's Shoes,All Men's Shoes                                      1
Women's Shoes,Boots,See more Womens Lug Sole Buckle Strap Motorcycle Mid Ca...                                    1
Shoes,Wedges,Women's Shoes,Wedge Pumps                                                                            1
Heels,Shoes,Women's Shoes,Dyeables,Sandals,Pumps                                                                  1
Shoes,Slip-ons,Women's Shoes,Pumps                                                                                1
Shoes,Wedges,Women's Shoes,Sandals,Clothing,All Women's Shoes                                                     1
Women's Slippers,Shoes,Women's Shoes,Clothing,All Women's Shoes                                                   1
Women's Shoes,See more Born Silvie Women US 10 Black Loafer Pre Owned...                                          1
Heels,Shoes,Women's Shoes,Wedge Pumps                                                                             1
#6904 in,#3591 in,Shoes,#37963 in,Women's Shoes,Clothing,All Women's Shoes                                        1
Women's Athletic Shoes,Shoes,Women's Shoes,Clothing,Women,Athletic                                                1
Clothing, Shoes & Accessories,Women's Shoes,Athletic                                                              1
Shoes,Women,Boots,Clothing,Women's Shoes,All Women's Shoes                                                        1
Boots On Sale,Shoes,Women's Shoes,Boots,Performance Snow Boots                                                    1
See more Reebok Crossfit Nano 5 Womens Fitness Shoes Ye...,Athletic,Women's Shoes                                 1
Name: categories, Length: 306, dtype: int64

In [239]:
category_set = ['Sandals', 'Heels', 'Slip-ons', 'Boots', 'Booties', 
                'Wedges', 'Flats', 'Athletic', 'Sneakers', 'Loafers', 'Slippers']

In [240]:
def return_keyword(keys, text):
    for i in range(len(keys)):
        if text.find(keys[i]) != -1:
            return keys[i]
    return 'other'

In [241]:
def match_category(column, category_set):
    new_category = []
    for i in range(len(column)):
        new_category.append(return_keyword(category_set, column.iloc[i]))
    return new_category

In [242]:
range(len(df['categories']))

range(0, 6701)

In [243]:
df['categories'] = match_category(df['categories'], category_set)

In [244]:
df['categories'].value_counts(normalize = True)

other       0.501865
Boots       0.150575
Sandals     0.085360
Athletic    0.063125
Slip-ons    0.050589
Slippers    0.034174
Heels       0.033428
Booties     0.029399
Loafers     0.022982
Wedges      0.012088
Flats       0.008805
Sneakers    0.007611
Name: categories, dtype: float64

### Merchant column fixing

In [199]:
df['prices.merchant'].value_counts()
# A lot of Walmart.com are distributed under many different names, then we should rename them, at least for Walmart.

ApparelSave - Walmart.com                           2141
Overstock.com                                       1823
www.ralphlauren.com                                  831
Shoes.com                                            259
Walmart.com                                          181
ShoeFabs - Walmart.com                               133
shoezoo - Walmart.com                                 93
Virtual Exchanges Inc - Walmart.com                   91
Shoebuy.com - Walmart.com                             59
AreaTrend - Walmart.com                               49
BESTON SHOES - Walmart.com                            40
ShoeMetro CA                                          35
1 ShoeSmart - Walmart.com                             32
Costume Kingdom - Walmart.com                         28
Walmart store - Walmart.com                           26
Purchase Pals LLC - Walmart.com                       21
Shoenerds - Walmart.com                               21
UnbeatableSale - Walmart.com                          20
Shopping Blitz - Walmart.com                          19
Apparel Save                                          18
BHFO, Inc. - Walmart.com                              15
Tags Weekly - Walmart.com                             13
STAND UP Ranchers - Walmart.com                       13
Amazon.com                                            12
Fantastic Footwear - Walmart.com                      10
OrthoticShop.com - Walmart.com                        10
Miles Kimball Company - Walmart.com                   10
USA Dawgs, Inc - Walmart.com                           9
antonline - Walmart.com                                8
Premium Brand Outlet - Walmart.com                     7
Best Service Stores - Walmart.com                      7
Shoes N Fashion - Walmart.com                          6
EB Sports Store - Walmart.com                          6
Street Moda - Walmart.com                              6
Costumes4less.com - Walmart.com                        6
Brands R US - Walmart.com                              5
Big Deal Hunter - Walmart.com                          5
PlumStruck - Walmart.com                               5
shoesforeverstoreshoesforeverstore - Ebay.com          4
AllSportsWearUSA - Walmart.com                         4
BeltOutlet - Walmart.com                               4
Peltz Shoes - Walmart.com                              4
AMI Ventures Inc - Walmart.com                         4
Orthotic Shop - Walmart.com                            4
autoplicity.com                                        4
North Avenue - Walmart.com                             3
American Living Online - Walmart.com                   3
Direct Home Supplies - Walmart.com                     3
Legend Lane - Walmart.com                              3
Pro Therapy Supplies, LLC - Walmart.com                3
                                                    ...
Sears.com                                              3
Zayda Co LLC - Walmart.com                             3
DAWGS                                                  2
Amazon.ca                                              2
action.shackaction.shack - Ebay.com                    2
UrbanInspirations                                      2
HalloweenCostumes - Walmart.com                        2
ShoesandFashions - Walmart.com                         2
Hobby Warehouse - Walmart.com                          2
ProMax Commerce - Walmart.com                          2
Ruze, Inc. - Walmart.com                               2
homedepot.com                                          2
cosmic_closeouts - Ebay.com                            2
SupplyTiger - Walmart.com                              2
AASKUS - Walmart.com                                   2
The Spot for Fits & Kicks                              2
Shoebuy - Walmart.com                                  2
brooklynajaysbrooklynajays - Ebay.com                  2
Happy Feet and Comfy Feet Slippers - Walmart.com       2
SureGrip Footwear - Walmart.com                        2
Shop The Docks Florida - Walmart.com                   1
Clever Training - Walmart.com                          1
Deal Genius                                            1
Amazing Attire - Walmart.com                           1
His n Her Inc - Walmart.com                            1
Jaf Gifts - Walmart.com                                1
Overstock - Walmart.com                                1
webportdeals - Ebay.com                                1
New York Deals - Walmart.com                           1
Campmor - Walmart.com                                  1
FOOTWEAR ETC. - Walmart.com                            1
Shoe Webster - Walmart.com                             1
SHOEBACCA LTD. - Walmart.com                           1
Trend Nation LLC - Walmart.com                         1
Step Up - Walmart.com                                  1
SIM Supply Inc - Walmart.com                           1
Life and Home - Walmart.com                            1
Beach Audio Inc - Walmart.com                          1
Shoes & More - Walmart.com                             1
Shoe Station Inc. - Walmart.com                        1
CARiD.com                                              1
SOLE-UNLIMITED - Walmart.com                           1
kewlshoeskewlshoes - Ebay.com                          1
The Jungle Store - Walmart.com                         1
Best Global Trader - Walmart.com                       1
Universal Direct Brands - Walmart.com                  1
Shoe Wonder - Walmart.com                              1
BlockBuster Costumes, LLC - Walmart.com                1
Final Score Athletics - Walmart.com                    1
ShoebuyU.com - Walmart.com                             1
Name: prices.merchant, Length: 106, dtype: int64

In [113]:
# a lot of Walmart in different names, we need to coerce names to walmart.
merchant_set = ['Walmart', 'Overstock', 'ralphlauren', 'Shoes']
# For these high-frequency merchant, I would like to keep their names, and for other brands I set them to 'Others'.

In [351]:
have_Walmart = df['prices.merchant'].str.contains('Walmart')
for i in range(len(df['prices.merchant'])):
    if(have_Walmart[i] == True):
        df['prices.merchant'][i] = 'Walmart'

C:\Users\51759\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [347]:
# this method is NOT NOT NOT efficient,and time complexity is high, needed to improve!!!
for i in range(len(df['prices.merchant'])):
    if(df['prices.merchant'].str.contains('Walmart')[i] == True):
        df['prices.merchant'][i] = 'Walmart'

C:\Users\51759\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [352]:
df['prices.merchant'].value_counts()

Overstock.com                                    5776
Walmart                                          4974
www.ralphlauren.com                              1417
Shoes.com                                         392
ShoeMetro CA                                       58
Amazon.com                                         35
Apparel Save                                       21
shoesforeverstoreshoesforeverstore - Ebay.com      12
DAWGS                                               8
Sears.com                                           7
Amazon.ca                                           5
autoplicity.com                                     4
UrbanInspirations                                   2
brooklynajaysbrooklynajays - Ebay.com               2
action.shackaction.shack - Ebay.com                 2
cosmic_closeouts - Ebay.com                         2
The Spot for Fits & Kicks                           2
homedepot.com                                       2
Deal Genius                                         1
webportdeals - Ebay.com                             1
n                                                   1
CARiD.com                                           1
kewlshoeskewlshoes - Ebay.com                       1
Name: prices.merchant, dtype: int64

In [340]:
df['prices.merchant'].str.contains('Walmart') == True

False

In [148]:
def return_keyword_merchant(series, keys):
    for i in range(len(keys)):
        if series.str.find(keys[i]) != -1:
            return keys[i]
    return 'other'

In [149]:
def match_merchant(column, merchant_set):
    new_merchant = []
    for i in range(len(column)):
        new_merchant.append(return_keyword(column.iloc[i], merchant_set))
    return new_merchant

In [118]:
match_category(df['categories'], category_set)

['other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Sandals',
 'Boots',
 'other',
 'Athletic',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Flats',
 'Flats',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Athletic',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Slippers',
 'Slippers',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Boots',
 'Boots',
 'Boots',
 'other',
 'other',
 'other',
 'other',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Sandals',
 'Sandals',
 'Sandals',
 'Sandals',
 'Sandals',
 'Sandals',
 'other',
 'Slippers',
 'Slippers',
 'Slippers',
 'Slippers',
 'Slippers',
 'Slippers',
 'Athletic',
 'Athletic',
 'other',
 'other',
 'other',
 'Sandals',
 'Sandals',
 'Sandals',
 'Sandals',
 'other',
 'other',
 'Sandals',
 'Sandals',
 'Sandals',
 'Sandals',
 'other',
 'other',
 'Boots',
 'Boots',
 'Boots',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Wedges',
 'Wedges',
 'Wedges',
 'Wedges',
 'Wedges',
 'Wedges',
 'Wedges',
 'Wedges',
 'Wedges',
 'Wedges',
 'Wedges',
 'Wedges',
 'Wedges',
 'Wedges',
 'Wedges',
 'Wedges',
 'Wedges',
 'Slippers',
 'Slippers',
 'Heels',
 'Heels',
 'Heels',
 'Heels',
 'Heels',
 'Heels',
 'Heels',
 'Heels',
 'Heels',
 'Heels',
 'Heels',
 'Heels',
 'Heels',
 'Slippers',
 'Slippers',
 'Slippers',
 'Slippers',
 'Slippers',
 'Slippers',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Flats',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Sandals',
 'Sandals',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Loafers',
 'Loafers',
 'Loafers',
 'Boots',
 'Boots',
 'other',
 'other',
 'Athletic',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Boots',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Athletic',
 'Athletic',
 'Athletic',
 'Athletic',
 'Athletic',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Boots',
 'Athletic',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Heels',
 'other',
 'Boots',
 'Athletic',
 'Athletic',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Booties',
 'Booties',
 'Booties',
 'Booties',
 'Booties',
 'Booties',
 'Booties',
 'Booties',
 'Booties',
 'Booties',
 'Booties',
 'Booties',
 'Booties',
 'Booties',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'other',
 'Athletic',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'other',
 'Slippers',
 'other',
 'other',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Sandals',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'Sneakers',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Sandals',
 'Sandals',
 'Sandals',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Athletic',
 'Athletic',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Athletic',
 'Athletic',
 'Athletic',
 'Athletic',
 'Athletic',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Wedges',
 'Wedges',
 'Wedges',
 'Wedges',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Boots',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Boots',
 'Athletic',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Boots',
 'Slippers',
 'Slippers',
 'Slippers',
 'other',
 'other',
 'Athletic',
 'other',
 'other',
 'other',
 'Flats',
 'Flats',
 'Flats',
 'Flats',
 'Flats',
 'Flats',
 'Flats',
 'other',
 'other',
 'other',
 'Athletic',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Athletic',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Sandals',
 'Sandals',
 'Sandals',
 'Sandals',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Boots',
 'other',
 'other',
 'Sandals',
 'Sandals',
 'Sandals',
 'Sandals',
 'Sandals',
 'Sandals',
 'Sandals',
 'Sandals',
 'Sandals',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Slippers',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Boots',
 'Boots',
 'Boots',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Heels',
 'Heels',
 'Heels',
 'Heels',
 'Heels',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Sandals',
 'Sandals',
 'Sandals',
 'other',
 'other',
 'other',
 'other',
 'Boots',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Slippers',
 'Slippers',
 'Slippers',
 'Slippers',
 'other',
 'other',
 'other',
 'other',
 'Athletic',
 'Athletic',
 'Athletic',
 'Athletic',
 'Athletic',
 'Athletic',
 'Athletic',
 'Athletic',
 'Athletic',
 'Athletic',
 'Athletic',
 'Athletic',
 'Athletic',
 'Athletic',
 'Athletic',
 'Athletic',
 'Booties',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'Boots',
 'other',
 'other',
 'Slippers',
 'Slippers',
 'Athletic',
 'Athletic',
 'other',
 'other',
 'Slippers',
 'Slippers',
 'Slippers',
 'Slippers',
 'Slippers',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 ...]

### Colors column fixing

In [245]:
df.colors.value_counts()

Black                                                                                                                 895
Brown                                                                                                                 311
Silver                                                                                                                167
Beige                                                                                                                 159
White                                                                                                                 145
Blue                                                                                                                  139
Gray                                                                                                                  124
Green                                                                                                                 109
Black,Brown                                                                                                           106
RL Gold,Black                                                                                                         104
Multicolor                                                                                                             97
Red                                                                                                                    95
Dark Brown,Black,Saddle                                                                                                78
Tan                                                                                                                    67
Black,Brown,Grey,Purple                                                                                                57
Pink                                                                                                                   55
Orange                                                                                                                 54
Dark Brown,Black                                                                                                       53
Coffee Leather,Black Leather                                                                                           49
Yellow                                                                                                                 48
Bone Leather,Camel Leather                                                                                             45
Mocha Soft Kid                                                                                                         45
Black Tumbled                                                                                                          43
Gold                                                                                                                   43
Beige,Black,Green,Grey,Red,Tan,Charcoal,Nude,Taupe,Olive,DUSTY PINK,WINE                                               41
Camel,Snuff,Cream                                                                                                      39
Black,Brown,Red,Black Brown Red                                                                                        38
Navy Veg Calf                                                                                                          37
Brown,Black                                                                                                            36
Black Suede,Cuoio Suede                                                                                                36
Green,Multi,Glamour Bone,Glamour Gold,Glamour Black,Glamour Pewter,Metallic Multi                                      33
Camel,Black                                                                                                            32
Black,Brown,Grey,Red,Tan,Taupe,Wine                                                                                    31
Black,Tan,Nude,Grey,Taupe,Peacock,Rust                                                                                 30
Camel                                                                                                                  29
Silver Metallic                                                                                                        29
Grey                                                                                                                   28
Cordovan,Black,Black Cabrio Leather,Blackcabrio                                                                        28
Black,Brown,Green,Red,CAMEL,KHAKI,OLIVE,WINE                                                                           27
Black,Green,Tan,Olive                                                                                                  27
Snuff                                                                                                                  26
Steel Shine                                                                                                            26
Deep Royal,Bordeaux                                                                                                    26
Camel,Snuff                                                                                                            26
Metallic,Gold,Silver Metallic                                                                                          26
Gold,Silver Metallic                                                                                                   25
Black,Silver,Multi-Colored                                                                                             23
Beige,Tan,Black,Taupe                                                                                                  23
Gold,White,Black,Berry,Gold Hatch,White Paisley,Blue,White Flower Burst,Heart Trellis,Irises,Tan Leopard,Pink,Lime     22
Purple                                                                                                                 22
                                                                                                                     ...
Ink                                                                                                                     1
Black Suede,Red,Natural                                                                                                 1
Golds                                                                                                                   1
Cream,Navy,Vanilla                                                                                                      1
Brown,Olive                                                                                                             1
Black Suede                                                                                                             1
Bark                                                                                                                    1
Black Suede,Fuchsia Suede,Royal Blue Suede,Olive Suede                                                                  1
Beige,SparkleLinen                                                                                                      1
Black Leather                                                                                                           1
Regatta,Sand                                                                                                            1
CharcoalGreen GlowPink                                                                                                  1
Deep BlueWhiteHot Pink                                                                                                  1
DARK PURPLE,Dark Blue,Dark Grey,Purple                                                                                  1
Beige Multi                                                                                                             1
Gray,Green                                                                                                              1
Black DeertanBlack                                                                                                      1
Black,Tan,Taupe                                                                                                         1
Vivid Sulfur                                                                                                            1
Bronze,Fuchsia,Gold,White                                                                                               1
Cognac Baby Blue,Black Baby Blue,Chocolate Pink                                                                         1
White,Black,Sky Blue,Chalk,Pink,Dark Blue,Plum                                                                          1
Pewter Dots,Black Dots                                                                                                  1
Red,Red Stripe,Red Stripe University                                                                                    1
Beige,Black,Bronze,Coral,Gold,Gray,Gunmetal,Light Blue,Tortoise Smu,White                                               1
Alloy,Black                                                                                                             1
Black,Taupe,Rose Violet                                                                                                 1
Brown Marl                                                                                                              1
Blue,Dark Red                                                                                                           1
Charcoal,Taupe,Black                                                                                                    1
Metallic                                                                                                                1
Blue,Dark Tan,Brown,Blue Wing Teal                                                                                      1
Plum                                                                                                                    1
Wood                                                                                                                    1
Dark Blue                                                                                                               1
Charcoal,Black,Black Distressed,Hickory,Gray                                                                            1
Blue,Black,Purple,Olive                                                                                                 1
Peltro                                                                                                                  1
Stone                                                                                                                   1
New Saddle                                                                                                              1
BeigeRoyal Purple                                                                                                       1
Nude Pat,White,Red Paris,Pewter,White Patent,Navy Microsuede                                                            1
Brown Suede                                                                                                             1
Cement,Black,Grey                                                                                                       1
BLACK BLUE                                                                                                              1
Black,Pewter,Winter Cheetah,Moss                                                                                        1
Black,Gold,Aqua                                                                                                         1
Medium Beige                                                                                                            1
Black,Natural Comb                                                                                                      1
Natural Snake                                                                                                           1
Name: colors, Length: 664, dtype: int64

In [246]:
df.colors = df.colors.fillna('nan_value')

In [247]:
df.columns

Index(['id', 'asins', 'brand', 'categories', 'colors', 'dateAdded',
       'dateUpdated', 'descriptions', 'dimension', 'ean', 'features',
       'imageURLs', 'keys', 'manufacturer', 'manufacturerNumber', 'merchants',
       'name', 'prices.amountMin', 'prices.amountMax', 'prices.availability',
       'prices.color', 'prices.condition', 'prices.currency',
       'prices.dateAdded', 'prices.dateSeen', 'prices.isSale',
       'prices.merchant', 'prices.offer', 'prices.returnPolicy',
       'prices.shipping', 'prices.size', 'prices.sourceURLs', 'quantities',
       'reviews', 'sizes', 'skus', 'sourceURLs', 'upc', 'weight'],
      dtype='object')

In [248]:
def column_split_function(df, column):
    df[column] = df[column].str.split(",\\s*").tolist()
    merge_df = df[column].apply(pd.Series)\
        .merge(df, left_index = True, right_index = True)\
        .drop([column], axis = 1)
    other_columns_set = ['id', 'asins', 'brand', 'categories', 'dateAdded',
       'dateUpdated', 'descriptions', 'dimension', 'ean', 'features',
       'imageURLs', 'keys', 'manufacturer', 'manufacturerNumber', 'merchants',
       'name', 'prices.amountMin', 'prices.amountMax', 'prices.availability',
       'prices.color', 'prices.condition', 'prices.currency',
       'prices.dateAdded', 'prices.dateSeen', 'prices.isSale',
       'prices.merchant', 'prices.offer', 'prices.returnPolicy',
       'prices.shipping', 'prices.size', 'prices.sourceURLs', 'quantities',
       'reviews', 'sizes', 'skus', 'sourceURLs', 'upc', 'weight']
    melt_df = merge_df.melt(id_vars = other_columns_set, value_name = column)\
        .drop("variable", axis = 1)\
        .dropna(subset = [column])\
        .reset_index()
    return melt_df

In [249]:
A = column_split_function(df, 'colors')

In [272]:
A['colors'].value_counts()[:15]

Black        2539
Brown         878
White         474
nan_value     462
Tan           425
Blue          389
Beige         388
Red           348
Grey          329
Green         307
Silver        257
Pink          210
Taupe         186
Gray          179
Gold          161
Name: colors, dtype: int64

In [260]:
df.shape

(6701, 39)

In [266]:
A.shape

(13560, 40)

In [268]:
A.drop(axis = 1, columns = ['index'], inplace = True)

In [270]:
df_after_color = A

#### We will also keep some colors in the above column, and set others into group 'other'

In [271]:
df_after_color.isnull().sum().sort_values(ascending = False)

prices.availability    13016
weight                 13007
dimension              12197
asins                  12193
prices.returnPolicy    11617
prices.shipping        10774
prices.offer            9827
reviews                 9275
manufacturer            7639
quantities              6856
prices.condition        5838
prices.size             5826
prices.color            5507
sizes                   5305
ean                     3967
skus                    3688
upc                     3391
descriptions            1666
features                1431
prices.merchant          835
merchants                535
manufacturerNumber       224
imageURLs                 16
brand                     13
categories                 0
dateAdded                  0
dateUpdated                0
colors                     0
keys                       0
name                       0
prices.amountMin           0
prices.amountMax           0
prices.currency            0
prices.dateAdded           0
prices.dateSeen            0
prices.isSale              0
prices.sourceURLs          0
sourceURLs                 0
id                         0
dtype: int64

### Date convert

### This method can be used to find keywords

In [273]:
def contains_date(column):
    regex_string = (r'^/(\d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d:[0-5]\d\.\d+([+-][0-2]\d:[0-5]\d|Z))|(\d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d:[0-5]\d([+-][0-2]\d:[0-5]\d|Z))|(\d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d([+-][0-2]\d:[0-5]\d|Z))/')
    return column.str.contains(regex_string).any()

In [274]:
def find_date_features(df):
    series_contains_date = df.apply(contains_date)
    return series_contains_date.index[series_contains_date.values]

In [281]:
df = df_after_color

In [282]:
date_features = find_date_features(df)

C:\Users\51759\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  This is separate from the ipykernel package so we can avoid doing imports until

In [283]:
date_features

Index(['dateAdded', 'dateUpdated', 'descriptions', 'merchants',
       'prices.dateAdded', 'prices.dateSeen', 'reviews'],
      dtype='object')

In [284]:
df[date_features][:1].T

                                                                  0
dateAdded                                      2016-11-04T03:11:11Z
dateUpdated                                    2016-11-04T03:11:11Z
descriptions      [{"dateSeen":["2016-11-04T03:11:11Z"],"sourceU...
merchants         [{"dateSeen":["2016-11-04T03:11:11Z"],"name":"...
prices.dateAdded                               2016-11-04T03:11:11Z
prices.dateSeen                                2016-11-03T00:00:00Z
reviews                                                         NaN

for 'dateAdded', 'dateUpdated', 'descriptions', 'merchants','prices.dateAdded', 'prices.dateSeen', 'reviews' these 7 columns, I want to coerce and convert 'dateAdded', 'dateUpdated', 'prices.dateAdded', 'prices.dateSeen' these 4 now. Cause the 'descriptions', 'merchants', 'reviews' are not string, they are dictionary.

In [311]:
def get_first_10_chars(column_name):
    slicing_date = [w[:10] for w in df[column_name]]
    return pd.DataFrame(slicing_date).astype('datetime64[ns]')

In [313]:
get_first_10_chars('dateAdded')

(13560, 1)

In [314]:
def get_first_10_chars_for_columnSet(columnSet):
    for i in range(len(columnSet)):
        column_name = columnSet[i]
        df[column_name] = get_first_10_chars(column_name)

In [315]:
columnSet = ['dateAdded', 'dateUpdated', 'prices.dateAdded', 'prices.dateSeen']

In [316]:
get_first_10_chars_for_columnSet(columnSet)

In [319]:
df[columnSet][:2]

   dateAdded dateUpdated prices.dateAdded prices.dateSeen
0 2016-11-04  2016-11-04       2016-11-04      2016-11-03
1 2016-11-04  2016-11-04       2016-11-04      2015-11-03

In [320]:
df.isnull().sum().sort_values(ascending= False)

prices.availability    13016
weight                 13007
dimension              12197
asins                  12193
prices.returnPolicy    11617
prices.shipping        10774
prices.offer            9827
reviews                 9275
manufacturer            7639
quantities              6856
prices.condition        5838
prices.size             5826
prices.color            5507
sizes                   5305
ean                     3967
skus                    3688
upc                     3391
descriptions            1666
features                1431
prices.merchant          835
merchants                535
manufacturerNumber       224
imageURLs                 16
brand                     13
categories                 0
dateAdded                  0
dateUpdated                0
colors                     0
keys                       0
name                       0
prices.amountMin           0
prices.amountMax           0
prices.currency            0
prices.dateAdded           0
prices.dateSeen            0
prices.isSale              0
prices.sourceURLs          0
sourceURLs                 0
id                         0
dtype: int64

In [353]:
df.shape

(13560, 39)

In [354]:
df.columns

Index(['id', 'asins', 'brand', 'categories', 'dateAdded', 'dateUpdated',
       'descriptions', 'dimension', 'ean', 'features', 'imageURLs', 'keys',
       'manufacturer', 'manufacturerNumber', 'merchants', 'name',
       'prices.amountMin', 'prices.amountMax', 'prices.availability',
       'prices.color', 'prices.condition', 'prices.currency',
       'prices.dateAdded', 'prices.dateSeen', 'prices.isSale',
       'prices.merchant', 'prices.offer', 'prices.returnPolicy',
       'prices.shipping', 'prices.size', 'prices.sourceURLs', 'quantities',
       'reviews', 'sizes', 'skus', 'sourceURLs', 'upc', 'weight', 'colors'],
      dtype='object')

### Deleting unmeaningful columns 
If I have time, I can come back to handle more columns to feed them into model.

In [400]:
df_new = df[['brand', 'categories', 'dateAdded', 'dateUpdated', 'manufacturer', 'manufacturerNumber',
    'prices.amountMin', 'prices.amountMax', 'prices.currency',
    'prices.dateAdded', 'prices.dateSeen', 'prices.isSale', 'prices.merchant', 'colors']]

In [401]:
df_new.isnull().sum().sort_values(ascending= False)

manufacturer          7639
prices.merchant        834
manufacturerNumber     224
brand                   13
colors                   0
prices.isSale            0
prices.dateSeen          0
prices.dateAdded         0
prices.currency          0
prices.amountMax         0
prices.amountMin         0
dateUpdated              0
dateAdded                0
categories               0
dtype: int64

In [402]:
df_new.shape

(13560, 14)

In [403]:
# How about drop the rows whose manufacturer is missing.
df_new.dropna(subset = ['manufacturer']).isnull().sum().sort_values(ascending= False)

prices.merchant       298
manufacturerNumber     54
brand                  13
colors                  0
prices.isSale           0
prices.dateSeen         0
prices.dateAdded        0
prices.currency         0
prices.amountMax        0
prices.amountMin        0
manufacturer            0
dateUpdated             0
dateAdded               0
categories              0
dtype: int64

In [405]:
# after drop the manufacturer missing values, there are only dozens of missing values in other columns, so I decide to drop all
# the missing values.
df_new.dropna(inplace = True)

C:\Users\51759\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [409]:
df_new.shape

(5560, 14)

In [408]:
df_new['prices.currency'].value_counts()

USD    5505
CAD      54
AUD       1
Name: prices.currency, dtype: int64

In [410]:
df_new['prices.currency'].unique()

array(['USD', 'CAD', 'AUD'], dtype=object)

### remove relative columns
I would like to use a price as my model target, and there are two price columns, including 'prices.amountMin', 'prices.amountMax'. In general, I choose the 'prices.amountMax' as target, and delete the min value, cause they are highly relative.

,brand,categories,dateAdded,dateUpdated,manufacturer,manufacturerNumber,prices.amountMax,prices.currency,prices.dateAdded,prices.dateSeen,prices.isSale,prices.merchant,colors
2,Marc Fisher,other,2016-11-11,2016-11-11,Marc Fisher,FAWNA-BLKMUL,89.00,USD,2016-11-11,2016-10-27,False,Walmart,nan_value
3,Caparros,other,2016-11-04,2016-11-04,Caparros,H1705-BLK/SLV,79.00,USD,2016-11-04,2016-10-05,False,Walmart,Silver
4,Caparros,other,2016-11-04,2016-11-04,Caparros,H1705-BLK/SLV,31.99,USD,2016-11-04,2016-11-02,True,Walmart,Silver
5,INC International Concepts,other,2016-10-27,2016-10-27,INC International Concepts,BRITANII-OLV,90.00,USD,2016-10-27,2016-10-25,False,Walmart,nan_value
6,INC International Concepts,other,2016-10-27,2016-10-27,INC International Concepts,BRITANII-OLV,35.99,USD,2016-10-27,2016-10-04,True,Walmart,nan_value
7,Vince Camuto,other,2017-01-27,2017-01-27,Vince Camuto,PARKA-MDNTTAU,159.00,USD,2017-01-27,2017-01-25,False,Walmart,Brown
8,Vince Camuto,other,2017-01-27,2017-01-27,Vince Camuto,PARKA-MDNTTAU,58.99,USD,2017-01-27,2017-01-25,True,Walmart,Brown
25,JBU by Jambu,other,2017-01-12,2017-01-12,JBU by Jambu,JB15COR34,69.00,USD,2017-01-12,2017-01-11,False,Walmart,Brown
26,JBU by Jambu,other,2017-01-12,2017-01-12,JBU by Jambu,JB15COR34,15.99,USD,2017-01-12,2017-01-11,True,Walmart,Brown
27,Style & Co.,other,2017-01-27,2017-01-27,Style & Co,VERN-KHK/PAT,19.99,USD,2017-01-27,2017-01-24,False,Walmart,Beige
28,Caparros,other,2016-11-07,2016-11-07,Caparros,SAVANNA-SLV,79.00,USD,2016-11-07,2016-11-06,False,Walmart,Silver
29,Ellen Tracy,other,2017-01-27,2017-01-27,Ellen Tracy,213028-DESSAN,21.99,USD,2017-01-27,2017-01-24,False,Walmart,Beige
30,Mia Girl,other,2017-01-20,2017-01-20,Mia Girl,NM1800-LUG,59.00,USD,2017-01-20,2017-01-16,False,Walmart,Beige
31,Mia Girl,other,2017-01-20,2017-01-20,Mia Girl,NM1800-LUG,23.99,USD,2017-01-20,2017-01-20,False,Walmart,Beige
32,Born,other,2017-01-27,2017-01-27,Born,BORW-TAMILEATHER-GOLD44.6.5M,71.76,USD,2017-01-27,2017-01-24,False,Walmart,Red
33,r.b.l.s.,other,2016-08-02,2016-09-25,r.b.l.s.,ABBA-BLK,30.00,USD,2016-09-25,2016-09-24,False,Walmart,Black
34,r.b.l.s.,other,2016-08-02,2016-09-25,r.b.l.s.,ABBA-BLK,3.99,USD,2016-08-02,2016-08-02,True,Walmart,Black
35,Mizuno,other,2016-10-05,2016-10-05,Mizuno,J1GD150305,79.99,USD,2016-10-05,2016-10-04,True,Walmart,nan_value
36,Giani Bernini,other,2017-01-22,2017-01-22,Giani Bernini,AIKKO-DKTAU,89.00,USD,2017-01-22,2017-01-16,False,Walmart,Brown
37,Giani Bernini,other,2017-01-22,2017-01-22,Giani Bernini,AIKKO-DKTAU,44.99,USD,2017-01-22,2017-01-20,False,Walmart,Brown
38,Lillian Rose,other,2017-01-12,2017-01-12,Lillian Rose,FF250-CLR,14.00,USD,2017-01-12,2016-11-08,False,Walmart,Clear
39,Lillian Rose,other,2017-01-12,2017-01-12,Lillian Rose,FF250-CLR,7.99,USD,2017-01-12,2016-11-08,True,Walmart,Clear
40,Lillian Rose,other,2017-01-12,2017-01-12,Lillian Rose,FF250-CLR,5.99,USD,2017-01-12,2017-01-11,True,Walmart,Clear
41,Alfani,Sandals,2017-01-24,2017-01-24,Alfani,MALOREE-INK,24.93,USD,2017-01-24,2017-01-23,False,Walmart,Ink
43,BareTraps,other,2017-01-27,2017-01-27,Baretraps,BT22951,100.00,USD,2017-01-27,2017-01-25,False,Walmart,Brown
45,Franco Sarto,other,2017-01-12,2017-01-12,Franco Sarto,D1320M1001,140.00,USD,2017-01-12,2017-01-11,False,Walmart,Black
46,Easy Spirit,other,2016-11-11,2016-11-11,Easy Spirit,ESTOSINA,89.00,USD,2017-01-27,2017-01-24,False,Walmart,BlackBlack Suede
47,Easy Spirit,other,2016-11-11,2016-11-11,Easy Spirit,ESTOSINA,12.99,USD,2016-11-11,2016-11-09,False,Walmart,BlackBlack Suede
48,Reebok,other,2015-08-14,2016-11-04,Reebok,V67343,60.00,USD,2016-11-04,2016-11-02,False,Walmart,CherryWhite
49,Reebok,other,2015-08-14,2016-11-04,Reebok,V67343,59.95,USD,2015-08-14,2015-08-13,False,Shoes.com,CherryWhite
50,Reebok,other,2015-08-14,2016-11-04,Reebok,V67343,29.99,USD,2016-11-04,2016-11-02,True,Shoes.com,CherryWhite
51,Crocs,Flats,2015-08-14,2016-10-05,Crocs,11215-060,31.95,USD,2015-08-14,2015-08-12,False,Shoes.com,Black
52,Crocs,Flats,2015-08-14,2016-10-05,Crocs,11215-060,26.13,USD,2016-10-05,2016-10-03,False,Walmart,Black
53,White Mountain,Boots,2016-11-02,2016-11-02,White Mountain,200-W18229SS,100.00,USD,2016-11-02,2016-11-01,False,Walmart,Brown
54,White Mountain,Boots,2016-11-02,2016-11-02,White Mountain,200-W18229SS,41.99,USD,2016-11-02,2016-11-01,True,Walmart,Brown
55,White Mountain,Boots,2016-11-02,2016-11-02,White Mountain,200-W18229SS,1.99,USD,2016-11-02,2016-04-28,False,Walmart,Brown
113,Indigo Rd.,other,2016-11-04,2017-01-27,Indigo Rd.,LEANA-DKBRN,99.00,USD,2016-11-04,2016-11-02,False,Walmart,Brown
114,Indigo Rd.,other,2016-11-04,2017-01-27,Indigo Rd.,LEANA-DKBRN,60.99,USD,2016-11-04,2016-11-02,True,Walmart,Brown
115,Indigo Rd.,other,2016-11-04,2017-01-27,Indigo Rd.,LEANA-DKBRN,18.99,USD,2017-01-27,2017-01-25,False,Walmart,Brown
116,Franco Sarto,other,2016-11-07,2016-11-07,Franco Sarto,D2764L2200,85.00,USD,2016-11-07,2016-11-06,False,Walmart,Brown
117,Franco Sarto,other,2016-11-07,2016-11-07,Franco Sarto,D2764L2200,46.99,USD,2016-11-07,2016-11-06,True,Walmart,Brown
119,Caparros,other,2016-11-07,2016-11-07,Caparros,PANDORA-SLVMET,69.00,USD,2016-11-07,2016-11-07,False,Walmart,Silver
120,Caparros,other,2016-11-07,2016-11-07,Caparros,PANDORA-SLVMET,27.99,USD,2016-11-07,2016-11-07,True,Walmart,Silver
122,Lamo Sheepskin Inc,other,2017-01-22,2017-01-22,Lamo Sheepskin Inc,EW1360-CHESTNUT,31.99,USD,2017-01-22,2017-01-20,False,Walmart,Black
123,Lamo Sheepskin Inc,other,2017-01-22,2017-01-22,Lamo Sheepskin Inc,EW1360-CHESTNUT,28.99,USD,2017-01-22,2017-01-16,False,Walmart,Black
125,Ellie,other,2016-11-02,2016-11-02,Ellie,821-VANITY-CLR,70.00,USD,2016-11-02,2016-10-29,False,Walmart,Clear
126,Ellie,other,2016-11-02,2016-11-02,Ellie,821-VANITY-CLR,32.99,USD,2016-11-02,2016-08-06,True,Walmart,Clear
127,Ellie,other,2016-11-02,2016-11-02,Ellie,821-VANITY-CLR,27.99,USD,2016-11-02,2016-08-21,True,Walmart,Clear
128,Ellie,other,2016-11-02,2016-11-02,Ellie,821-VANITY-CLR,21.99,USD,2016-11-02,2016-11-02,True,Walmart,Clear
129,Ellie,other,2016-11-02,2016-11-02,Ellie,821-VANITY-CLR,17.99,USD,2016-11-02,2016-10-26,True,Walmart,Clear
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13486,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,44.95,USD,2017-01-27,2017-01-25,False,Walmart,Key Lime
13487,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,42.35,USD,2017-01-17,2017-01-16,False,Walmart,Key Lime
13488,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,39.95,USD,2016-10-28,2016-10-27,False,Walmart,Key Lime
13489,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,39.95,USD,2017-01-17,2017-01-05,False,Walmart,Key Lime
13490,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,39.95,USD,2017-01-17,2017-01-16,True,Walmart,Key Lime
13491,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,39.95,USD,2016-11-11,2016-10-31,False,Walmart,Key Lime
13492,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,39.95,USD,2017-01-20,2017-01-05,False,Walmart,Key Lime
13497,Nomad,Boots,2016-04-11,2017-03-28,Nomad,W5668,56.95,USD,2017-03-06,2017-02-12,False,Overstock.com,Lime
13498,Nomad,Boots,2016-04-11,2017-03-28,Nomad,W5668,56.95,USD,2017-03-06,2017-02-07,True,Overstock.com,Lime
13499,Nomad,Boots,2016-04-11,2017-03-28,Nomad,W5668,52.95,USD,2017-03-02,2017-02-15,False,Overstock.com,Lime
13500,Nomad,Boots,2016-04-11,2017-03-28,Nomad,W5668,52.78,USD,2016-11-04,2016-11-02,False,Walmart,Lime
13501,Nomad,Boots,2016-04-11,2017-03-28,Nomad,W5668,51.95,USD,2017-03-06,2017-02-12,False,Overstock.com,Lime
13502,Nomad,Boots,2016-04-11,2017-03-28,Nomad,W5668,51.95,USD,2017-02-06,2017-02-05,True,Overstock.com,Lime
13503,Nomad,Boots,2016-04-11,2017-03-28,Nomad,W5668,51.95,USD,2017-01-24,2017-01-23,False,Walmart,Lime
13504,Nomad,Boots,2016-04-11,2017-03-28,Nomad,W5668,48.41,USD,2017-03-06,2017-02-07,False,Overstock.com,Lime
13505,Nomad,Boots,2016-04-11,2017-03-28,Nomad,W5668,45.56,USD,2017-03-28,2017-03-25,False,Overstock.com,Lime
13506,Nomad,Boots,2016-04-11,2017-03-28,Nomad,W5668,45.56,USD,2017-03-28,2017-03-25,False,Overstock.com,Lime
13507,Nomad,Boots,2016-04-11,2017-03-28,Nomad,W5668,45.56,USD,2017-03-28,2017-03-25,False,Overstock.com,Lime
13508,Nomad,Boots,2016-04-11,2017-03-28,Nomad,W5668,45.56,USD,2017-03-28,2017-03-25,False,Overstock.com,Lime
13509,Nomad,Boots,2016-04-11,2017-03-28,Nomad,W5668,45.56,USD,2017-03-28,2017-03-25,False,Overstock.com,Lime
13510,Nomad,Boots,2016-04-11,2017-03-28,Nomad,W5668,45.56,USD,2017-03-28,2017-03-25,False,Overstock.com,Lime
13511,Nomad,Boots,2016-04-11,2017-03-28,Nomad,W5668,44.16,USD,2017-02-06,2017-02-05,False,Overstock.com,Lime
13512,Nomad,Boots,2016-04-11,2017-03-28,Nomad,W5668,41.56,USD,2017-03-28,2017-03-25,False,Overstock.com,Lime
13513,Nomad,Boots,2016-04-11,2017-03-28,Nomad,W5668,41.56,USD,2017-03-28,2017-03-25,False,Overstock.com,Lime
13514,Nomad,Boots,2016-04-11,2017-03-28,Nomad,W5668,41.56,USD,2017-03-28,2017-03-25,False,Overstock.com,Lime
13515,Nomad,Boots,2016-04-11,2017-03-28,Nomad,W5668,41.56,USD,2017-03-28,2017-03-25,False,Overstock.com,Lime
13516,Nomad,Boots,2016-04-11,2017-03-28,Nomad,W5668,41.56,USD,2017-03-28,2017-03-25,False,Overstock.com,Lime
13517,Nomad,Boots,2016-04-11,2017-03-28,Nomad,W5668,41.56,USD,2017-03-28,2017-03-25,False,Overstock.com,Lime
13518,Nomad,Boots,2016-04-11,2017-03-28,Nomad,W5668,41.56,USD,2017-03-28,2017-03-25,False,Overstock.com,Lime
13519,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,44.95,USD,2017-01-27,2017-01-25,False,Walmart,Sweet Tangerine
13520,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,42.35,USD,2017-01-17,2017-01-16,False,Walmart,Sweet Tangerine
13521,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,39.95,USD,2016-10-28,2016-10-27,False,Walmart,Sweet Tangerine
13522,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,39.95,USD,2017-01-17,2017-01-05,False,Walmart,Sweet Tangerine
13523,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,39.95,USD,2017-01-17,2017-01-16,True,Walmart,Sweet Tangerine
13524,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,39.95,USD,2016-11-11,2016-10-31,False,Walmart,Sweet Tangerine
13525,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,39.95,USD,2017-01-20,2017-01-05,False,Walmart,Sweet Tangerine
13530,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,44.95,USD,2017-01-27,2017-01-25,False,Walmart,Pink
13531,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,42.35,USD,2017-01-17,2017-01-16,False,Walmart,Pink
13532,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,39.95,USD,2016-10-28,2016-10-27,False,Walmart,Pink
13533,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,39.95,USD,2017-01-17,2017-01-05,False,Walmart,Pink
13534,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,39.95,USD,2017-01-17,2017-01-16,True,Walmart,Pink
13535,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,39.95,USD,2016-11-11,2016-10-31,False,Walmart,Pink
13536,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,39.95,USD,2017-01-20,2017-01-05,False,Walmart,Pink
13541,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,44.95,USD,2017-01-27,2017-01-25,False,Walmart,Black
13542,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,42.35,USD,2017-01-17,2017-01-16,False,Walmart,Black
13543,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,39.95,USD,2016-10-28,2016-10-27,False,Walmart,Black
13544,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,39.95,USD,2017-01-17,2017-01-05,False,Walmart,Black
13545,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,39.95,USD,2017-01-17,2017-01-16,True,Walmart,Black
13546,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,39.95,USD,2016-11-11,2016-10-31,False,Walmart,Black
13547,Telic,Sandals,2016-10-19,2016-10-28,Novascarpa Group LLC,Flip,39.95,USD,2017-01-20,2017-01-05,False,Walmart,Black

In [419]:
df_new = df_new[['brand', 'manufacturer', 'manufacturerNumber', 'prices.merchant', 'categories', 'colors',
                 'dateAdded', 'dateUpdated', 'prices.dateAdded', 'prices.dateSeen',
                 'prices.currency', 'prices.isSale', 'prices.amountMax']]

In [421]:
df_new[:5]

,brand,manufacturer,manufacturerNumber,prices.merchant,categories,colors,dateAdded,dateUpdated,prices.dateAdded,prices.dateSeen,prices.currency,prices.isSale,prices.amountMax
2,Marc Fisher,Marc Fisher,FAWNA-BLKMUL,Walmart,other,nan_value,2016-11-11,2016-11-11,2016-11-11,2016-10-27,USD,False,89.00
3,Caparros,Caparros,H1705-BLK/SLV,Walmart,other,Silver,2016-11-04,2016-11-04,2016-11-04,2016-10-05,USD,False,79.00
4,Caparros,Caparros,H1705-BLK/SLV,Walmart,other,Silver,2016-11-04,2016-11-04,2016-11-04,2016-11-02,USD,True,31.99
5,INC International Concepts,INC International Concepts,BRITANII-OLV,Walmart,other,nan_value,2016-10-27,2016-10-27,2016-10-27,2016-10-25,USD,False,90.00
6,INC International Concepts,INC International Concepts,BRITANII-OLV,Walmart,other,nan_value,2016-10-27,2016-10-27,2016-10-27,2016-10-04,USD,True,35.99

### categorical columns cleaning

In [431]:
df_new.columns

Index(['brand', 'manufacturer', 'manufacturerNumber', 'prices.merchant',
       'categories', 'colors', 'dateAdded', 'dateUpdated', 'prices.dateAdded',
       'prices.dateSeen', 'prices.currency', 'prices.isSale',
       'prices.amountMax'],
      dtype='object')

In [430]:
def selected_cat_values(column, threshold = .02):
    values_counted = column.value_counts(normalize=True)
    return values_counted[values_counted > threshold]

In [437]:
selected = selected_cat_values(df_new.brand, .01)
selected.sum()
# for brand, the sum of counted values is 0.49, which is close to 0.5, it's good.

0.49082733812949647

In [438]:
selected

Nomad                       0.053777
Nike                        0.050180
Dansko                      0.035252
Nine West                   0.032734
TOMS                        0.030935
New Balance                 0.028957
Easy Spirit                 0.024281
Daniel Green                0.021043
Telic                       0.020144
Propet                      0.019424
Ugg                         0.019424
Bearpaw                     0.017986
Crocs                       0.016367
Asics                       0.013849
Charles by Charles David    0.013669
Converse                    0.013129
MICHAEL Michael Kors        0.013129
Brinley Co.                 0.012410
Alfani                      0.012410
Bloch                       0.010612
VANS                        0.010432
Nina                        0.010432
Under Armour                0.010252
Name: brand, dtype: float64

In [439]:
def reduce_cat_values(column, threshold = .02):
    column = column.copy()
    selected_values = selected_cat_values(column, threshold).index
    column[~column.isin(selected_values)] = 'other'
    column.astype('category')
    return column

In [446]:
reduce_cat_values(df_new['brand'], .01).value_counts(normalize = True)

other                       0.509173
Nomad                       0.053777
Nike                        0.050180
Dansko                      0.035252
Nine West                   0.032734
TOMS                        0.030935
New Balance                 0.028957
Easy Spirit                 0.024281
Daniel Green                0.021043
Telic                       0.020144
Propet                      0.019424
Ugg                         0.019424
Bearpaw                     0.017986
Crocs                       0.016367
Asics                       0.013849
Charles by Charles David    0.013669
Converse                    0.013129
MICHAEL Michael Kors        0.013129
Brinley Co.                 0.012410
Alfani                      0.012410
Bloch                       0.010612
VANS                        0.010432
Nina                        0.010432
Under Armour                0.010252
Name: brand, dtype: float64

In [462]:
df_new['brand'] = reduce_cat_values(df_new['brand'], .01)

In [443]:
reduce_cat_values(df_new['manufacturer'], .01).value_counts(normalize = True)

other                       0.495504
Nomad                       0.052158
Nike                        0.050180
Nine West                   0.032914
New Balance                 0.028957
Toms                        0.028417
Easy Spirit                 0.025180
Daniel Green                0.021043
DANSKO                      0.020144
Novascarpa Group LLC        0.020144
UGG Australia               0.019964
Propet                      0.019424
VANS                        0.017266
Crocs                       0.016367
Bearpaw                     0.016007
Dansko                      0.015108
asics                       0.013849
Charles by Charles David    0.013669
Converse                    0.013129
MICHAEL Michael Kors        0.013129
Alfani                      0.012410
Brinley Co                  0.012230
Pleaser Shoes               0.011511
Bloch                       0.010612
Nina                        0.010432
Under Armour                0.010252
Name: manufacturer, dtype: float64

In [463]:
df_new['manufacturer'] = reduce_cat_values(df_new['manufacturer'], .01)

* Have to say, brand and manufacturer have too many similarities, correlatonship. We will verify later.

In [445]:
df[['brand', 'manufacturer']]

                            brand                manufacturer
0                      BEAUTIFEET                         NaN
1                      BEAUTIFEET                         NaN
2                     Marc Fisher                 Marc Fisher
3                        Caparros                    Caparros
4                        Caparros                    Caparros
5      INC International Concepts  INC International Concepts
6      INC International Concepts  INC International Concepts
7                    Vince Camuto                Vince Camuto
8                    Vince Camuto                Vince Camuto
9                     Faded Glory                         NaN
10                    Faded Glory                         NaN
11                    Faded Glory                         NaN
12                    Faded Glory                         NaN
13                    Faded Glory                         NaN
14                    Faded Glory                         NaN
15                    Faded Glory                         NaN
16                    Faded Glory                         NaN
17                    Faded Glory                         NaN
18                    Faded Glory                         NaN
19                    Faded Glory                         NaN
20                    Faded Glory                         NaN
21                    Faded Glory                         NaN
22                    Faded Glory                         NaN
23                    Faded Glory                         NaN
24                    Faded Glory                         NaN
25                   JBU by Jambu                JBU by Jambu
26                   JBU by Jambu                JBU by Jambu
27                    Style & Co.                  Style & Co
28                       Caparros                    Caparros
29                    Ellen Tracy                 Ellen Tracy
30                       Mia Girl                    Mia Girl
31                       Mia Girl                    Mia Girl
32                           Born                        Born
33                       r.b.l.s.                    r.b.l.s.
34                       r.b.l.s.                    r.b.l.s.
35                         Mizuno                      Mizuno
36                  Giani Bernini               Giani Bernini
37                  Giani Bernini               Giani Bernini
38                   Lillian Rose                Lillian Rose
39                   Lillian Rose                Lillian Rose
40                   Lillian Rose                Lillian Rose
41                         Alfani                      Alfani
42                       MUK LUKS       Reliable of Milwaukee
43                      BareTraps                   Baretraps
44                          ASICS                         NaN
45                   Franco Sarto                Franco Sarto
46                    Easy Spirit                 Easy Spirit
47                    Easy Spirit                 Easy Spirit
48                         Reebok                      Reebok
49                         Reebok                      Reebok
...                           ...                         ...
13510                       Nomad                       Nomad
13511                       Nomad                       Nomad
13512                       Nomad                       Nomad
13513                       Nomad                       Nomad
13514                       Nomad                       Nomad
13515                       Nomad                       Nomad
13516                       Nomad                       Nomad
13517                       Nomad                       Nomad
13518                       Nomad                       Nomad
13519                       Telic        Novascarpa Group LLC
13520                       Telic        Novascarpa Group LLC
13521                       Telic        Novascarpa Group LLC
13522                       Telic        Novascarpa Group LLC
13523                       Telic        Novascarpa Group LLC
13524                       Telic        Novascarpa Group LLC
13525                       Telic        Novascarpa Group LLC
13526                    FUNTASMA                         NaN
13527                    FUNTASMA                         NaN
13528                    FUNTASMA                         NaN
13529                    FUNTASMA                         NaN
13530                       Telic        Novascarpa Group LLC
13531                       Telic        Novascarpa Group LLC
13532                       Telic        Novascarpa Group LLC
13533                       Telic        Novascarpa Group LLC
13534                       Telic        Novascarpa Group LLC
13535                       Telic        Novascarpa Group LLC
13536                       Telic        Novascarpa Group LLC
13537                    FUNTASMA                         NaN
13538                    FUNTASMA                         NaN
13539                    FUNTASMA                         NaN
13540                    FUNTASMA                         NaN
13541                       Telic        Novascarpa Group LLC
13542                       Telic        Novascarpa Group LLC
13543                       Telic        Novascarpa Group LLC
13544                       Telic        Novascarpa Group LLC
13545                       Telic        Novascarpa Group LLC
13546                       Telic        Novascarpa Group LLC
13547                       Telic        Novascarpa Group LLC
13548                    FUNTASMA                         NaN
13549                    FUNTASMA                         NaN
13550                    FUNTASMA                         NaN
13551                    FUNTASMA                         NaN
13552                    FUNTASMA                         NaN
13553                    FUNTASMA                         NaN
13554                    FUNTASMA                         NaN
13555                    FUNTASMA                         NaN
13556                    FUNTASMA                         NaN
13557                    FUNTASMA                         NaN
13558                    FUNTASMA                         NaN
13559                    FUNTASMA                         NaN

[13560 rows x 2 columns]

In [453]:
reduce_cat_values(df_new['manufacturerNumber'], .01).value_counts(normalize = True)

other        0.831115
W5668        0.051439
806020202    0.020144
Flip         0.020144
5825         0.019424
10007-001    0.017086
6020202      0.015108
Anna         0.013669
10004902     0.011871
Name: manufacturerNumber, dtype: float64

In [464]:
df_new['manufacturerNumber'] = reduce_cat_values(df_new['manufacturerNumber'], .01)

In [452]:
reduce_cat_values(df_new['prices.merchant'], .01).value_counts(normalize = True)

Walmart          0.753777
Overstock.com    0.192806
Shoes.com        0.027698
other            0.025719
Name: prices.merchant, dtype: float64

In [465]:
df_new['prices.merchant'] = reduce_cat_values(df_new['prices.merchant'], .01)

In [459]:
reduce_cat_values(df_new['categories'], .005).value_counts(normalize = True)

other       0.604496
Boots       0.105396
Athletic    0.092806
Sandals     0.081295
Slip-ons    0.044245
Slippers    0.039928
Sneakers    0.018345
Heels       0.007914
Flats       0.005576
Name: categories, dtype: float64

In [466]:
df_new['categories'] = reduce_cat_values(df_new['categories'], .005)

In [461]:
reduce_cat_values(df_new['colors'], .02).value_counts(normalize = True)

other         0.387590
Black         0.165108
Brown         0.075360
nan_value     0.072482
White         0.056295
Blue          0.045863
Silver        0.037410
Beige         0.034532
Gray          0.029496
Red           0.025180
Pink          0.025180
Green         0.023921
Multicolor    0.021583
Name: colors, dtype: float64

In [467]:
df_new['colors'] = reduce_cat_values(df_new['colors'], .02)

In [468]:
df_new

,brand,manufacturer,manufacturerNumber,prices.merchant,categories,colors,dateAdded,dateUpdated,prices.dateAdded,prices.dateSeen,prices.currency,prices.isSale,prices.amountMax
2,other,other,other,Walmart,other,nan_value,2016-11-11,2016-11-11,2016-11-11,2016-10-27,USD,False,89.00
3,other,other,other,Walmart,other,Silver,2016-11-04,2016-11-04,2016-11-04,2016-10-05,USD,False,79.00
4,other,other,other,Walmart,other,Silver,2016-11-04,2016-11-04,2016-11-04,2016-11-02,USD,True,31.99
5,other,other,other,Walmart,other,nan_value,2016-10-27,2016-10-27,2016-10-27,2016-10-25,USD,False,90.00
6,other,other,other,Walmart,other,nan_value,2016-10-27,2016-10-27,2016-10-27,2016-10-04,USD,True,35.99
7,other,other,other,Walmart,other,Brown,2017-01-27,2017-01-27,2017-01-27,2017-01-25,USD,False,159.00
8,other,other,other,Walmart,other,Brown,2017-01-27,2017-01-27,2017-01-27,2017-01-25,USD,True,58.99
25,other,other,other,Walmart,other,Brown,2017-01-12,2017-01-12,2017-01-12,2017-01-11,USD,False,69.00
26,other,other,other,Walmart,other,Brown,2017-01-12,2017-01-12,2017-01-12,2017-01-11,USD,True,15.99
27,other,other,other,Walmart,other,Beige,2017-01-27,2017-01-27,2017-01-27,2017-01-24,USD,False,19.99
28,other,other,other,Walmart,other,Silver,2016-11-07,2016-11-07,2016-11-07,2016-11-06,USD,False,79.00
29,other,other,other,Walmart,other,Beige,2017-01-27,2017-01-27,2017-01-27,2017-01-24,USD,False,21.99
30,other,other,other,Walmart,other,Beige,2017-01-20,2017-01-20,2017-01-20,2017-01-16,USD,False,59.00
31,other,other,other,Walmart,other,Beige,2017-01-20,2017-01-20,2017-01-20,2017-01-20,USD,False,23.99
32,other,other,other,Walmart,other,Red,2017-01-27,2017-01-27,2017-01-27,2017-01-24,USD,False,71.76
33,other,other,other,Walmart,other,Black,2016-08-02,2016-09-25,2016-09-25,2016-09-24,USD,False,30.00
34,other,other,other,Walmart,other,Black,2016-08-02,2016-09-25,2016-08-02,2016-08-02,USD,True,3.99
35,other,other,other,Walmart,other,nan_value,2016-10-05,2016-10-05,2016-10-05,2016-10-04,USD,True,79.99
36,other,other,other,Walmart,other,Brown,2017-01-22,2017-01-22,2017-01-22,2017-01-16,USD,False,89.00
37,other,other,other,Walmart,other,Brown,2017-01-22,2017-01-22,2017-01-22,2017-01-20,USD,False,44.99
38,other,other,other,Walmart,other,other,2017-01-12,2017-01-12,2017-01-12,2016-11-08,USD,False,14.00
39,other,other,other,Walmart,other,other,2017-01-12,2017-01-12,2017-01-12,2016-11-08,USD,True,7.99
40,other,other,other,Walmart,other,other,2017-01-12,2017-01-12,2017-01-12,2017-01-11,USD,True,5.99
41,Alfani,Alfani,other,Walmart,Sandals,other,2017-01-24,2017-01-24,2017-01-24,2017-01-23,USD,False,24.93
43,other,other,other,Walmart,other,Brown,2017-01-27,2017-01-27,2017-01-27,2017-01-25,USD,False,100.00
45,other,other,other,Walmart,other,Black,2017-01-12,2017-01-12,2017-01-12,2017-01-11,USD,False,140.00
46,Easy Spirit,Easy Spirit,other,Walmart,other,other,2016-11-11,2016-11-11,2017-01-27,2017-01-24,USD,False,89.00
47,Easy Spirit,Easy Spirit,other,Walmart,other,other,2016-11-11,2016-11-11,2016-11-11,2016-11-09,USD,False,12.99
48,other,other,other,Walmart,other,other,2015-08-14,2016-11-04,2016-11-04,2016-11-02,USD,False,60.00
49,other,other,other,Shoes.com,other,other,2015-08-14,2016-11-04,2015-08-14,2015-08-13,USD,False,59.95
50,other,other,other,Shoes.com,other,other,2015-08-14,2016-11-04,2016-11-04,2016-11-02,USD,True,29.99
51,Crocs,Crocs,other,Shoes.com,Flats,Black,2015-08-14,2016-10-05,2015-08-14,2015-08-12,USD,False,31.95
52,Crocs,Crocs,other,Walmart,Flats,Black,2015-08-14,2016-10-05,2016-10-05,2016-10-03,USD,False,26.13
53,other,other,other,Walmart,Boots,Brown,2016-11-02,2016-11-02,2016-11-02,2016-11-01,USD,False,100.00
54,other,other,other,Walmart,Boots,Brown,2016-11-02,2016-11-02,2016-11-02,2016-11-01,USD,True,41.99
55,other,other,other,Walmart,Boots,Brown,2016-11-02,2016-11-02,2016-11-02,2016-04-28,USD,False,1.99
113,other,other,other,Walmart,other,Brown,2016-11-04,2017-01-27,2016-11-04,2016-11-02,USD,False,99.00
114,other,other,other,Walmart,other,Brown,2016-11-04,2017-01-27,2016-11-04,2016-11-02,USD,True,60.99
115,other,other,other,Walmart,other,Brown,2016-11-04,2017-01-27,2017-01-27,2017-01-25,USD,False,18.99
116,other,other,other,Walmart,other,Brown,2016-11-07,2016-11-07,2016-11-07,2016-11-06,USD,False,85.00
117,other,other,other,Walmart,other,Brown,2016-11-07,2016-11-07,2016-11-07,2016-11-06,USD,True,46.99
119,other,other,other,Walmart,other,Silver,2016-11-07,2016-11-07,2016-11-07,2016-11-07,USD,False,69.00
120,other,other,other,Walmart,other,Silver,2016-11-07,2016-11-07,2016-11-07,2016-11-07,USD,True,27.99
122,other,other,other,Walmart,other,Black,2017-01-22,2017-01-22,2017-01-22,2017-01-20,USD,False,31.99
123,other,other,other,Walmart,other,Black,2017-01-22,2017-01-22,2017-01-22,2017-01-16,USD,False,28.99
125,other,other,other,Walmart,other,other,2016-11-02,2016-11-02,2016-11-02,2016-10-29,USD,False,70.00
126,other,other,other,Walmart,other,other,2016-11-02,2016-11-02,2016-11-02,2016-08-06,USD,True,32.99
127,other,other,other,Walmart,other,other,2016-11-02,2016-11-02,2016-11-02,2016-08-21,USD,True,27.99
128,other,other,other,Walmart,other,other,2016-11-02,2016-11-02,2016-11-02,2016-11-02,USD,True,21.99
129,other,other,other,Walmart,other,other,2016-11-02,2016-11-02,2016-11-02,2016-10-26,USD,True,17.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13486,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,other,2016-10-19,2016-10-28,2017-01-27,2017-01-25,USD,False,44.95
13487,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,other,2016-10-19,2016-10-28,2017-01-17,2017-01-16,USD,False,42.35
13488,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,other,2016-10-19,2016-10-28,2016-10-28,2016-10-27,USD,False,39.95
13489,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,other,2016-10-19,2016-10-28,2017-01-17,2017-01-05,USD,False,39.95
13490,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,other,2016-10-19,2016-10-28,2017-01-17,2017-01-16,USD,True,39.95
13491,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,other,2016-10-19,2016-10-28,2016-11-11,2016-10-31,USD,False,39.95
13492,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,other,2016-10-19,2016-10-28,2017-01-20,2017-01-05,USD,False,39.95
13497,Nomad,Nomad,W5668,Overstock.com,Boots,other,2016-04-11,2017-03-28,2017-03-06,2017-02-12,USD,False,56.95
13498,Nomad,Nomad,W5668,Overstock.com,Boots,other,2016-04-11,2017-03-28,2017-03-06,2017-02-07,USD,True,56.95
13499,Nomad,Nomad,W5668,Overstock.com,Boots,other,2016-04-11,2017-03-28,2017-03-02,2017-02-15,USD,False,52.95
13500,Nomad,Nomad,W5668,Walmart,Boots,other,2016-04-11,2017-03-28,2016-11-04,2016-11-02,USD,False,52.78
13501,Nomad,Nomad,W5668,Overstock.com,Boots,other,2016-04-11,2017-03-28,2017-03-06,2017-02-12,USD,False,51.95
13502,Nomad,Nomad,W5668,Overstock.com,Boots,other,2016-04-11,2017-03-28,2017-02-06,2017-02-05,USD,True,51.95
13503,Nomad,Nomad,W5668,Walmart,Boots,other,2016-04-11,2017-03-28,2017-01-24,2017-01-23,USD,False,51.95
13504,Nomad,Nomad,W5668,Overstock.com,Boots,other,2016-04-11,2017-03-28,2017-03-06,2017-02-07,USD,False,48.41
13505,Nomad,Nomad,W5668,Overstock.com,Boots,other,2016-04-11,2017-03-28,2017-03-28,2017-03-25,USD,False,45.56
13506,Nomad,Nomad,W5668,Overstock.com,Boots,other,2016-04-11,2017-03-28,2017-03-28,2017-03-25,USD,False,45.56
13507,Nomad,Nomad,W5668,Overstock.com,Boots,other,2016-04-11,2017-03-28,2017-03-28,2017-03-25,USD,False,45.56
13508,Nomad,Nomad,W5668,Overstock.com,Boots,other,2016-04-11,2017-03-28,2017-03-28,2017-03-25,USD,False,45.56
13509,Nomad,Nomad,W5668,Overstock.com,Boots,other,2016-04-11,2017-03-28,2017-03-28,2017-03-25,USD,False,45.56
13510,Nomad,Nomad,W5668,Overstock.com,Boots,other,2016-04-11,2017-03-28,2017-03-28,2017-03-25,USD,False,45.56
13511,Nomad,Nomad,W5668,Overstock.com,Boots,other,2016-04-11,2017-03-28,2017-02-06,2017-02-05,USD,False,44.16
13512,Nomad,Nomad,W5668,Overstock.com,Boots,other,2016-04-11,2017-03-28,2017-03-28,2017-03-25,USD,False,41.56
13513,Nomad,Nomad,W5668,Overstock.com,Boots,other,2016-04-11,2017-03-28,2017-03-28,2017-03-25,USD,False,41.56
13514,Nomad,Nomad,W5668,Overstock.com,Boots,other,2016-04-11,2017-03-28,2017-03-28,2017-03-25,USD,False,41.56
13515,Nomad,Nomad,W5668,Overstock.com,Boots,other,2016-04-11,2017-03-28,2017-03-28,2017-03-25,USD,False,41.56
13516,Nomad,Nomad,W5668,Overstock.com,Boots,other,2016-04-11,2017-03-28,2017-03-28,2017-03-25,USD,False,41.56
13517,Nomad,Nomad,W5668,Overstock.com,Boots,other,2016-04-11,2017-03-28,2017-03-28,2017-03-25,USD,False,41.56
13518,Nomad,Nomad,W5668,Overstock.com,Boots,other,2016-04-11,2017-03-28,2017-03-28,2017-03-25,USD,False,41.56
13519,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,other,2016-10-19,2016-10-28,2017-01-27,2017-01-25,USD,False,44.95
13520,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,other,2016-10-19,2016-10-28,2017-01-17,2017-01-16,USD,False,42.35
13521,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,other,2016-10-19,2016-10-28,2016-10-28,2016-10-27,USD,False,39.95
13522,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,other,2016-10-19,2016-10-28,2017-01-17,2017-01-05,USD,False,39.95
13523,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,other,2016-10-19,2016-10-28,2017-01-17,2017-01-16,USD,True,39.95
13524,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,other,2016-10-19,2016-10-28,2016-11-11,2016-10-31,USD,False,39.95
13525,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,other,2016-10-19,2016-10-28,2017-01-20,2017-01-05,USD,False,39.95
13530,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,Pink,2016-10-19,2016-10-28,2017-01-27,2017-01-25,USD,False,44.95
13531,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,Pink,2016-10-19,2016-10-28,2017-01-17,2017-01-16,USD,False,42.35
13532,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,Pink,2016-10-19,2016-10-28,2016-10-28,2016-10-27,USD,False,39.95
13533,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,Pink,2016-10-19,2016-10-28,2017-01-17,2017-01-05,USD,False,39.95
13534,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,Pink,2016-10-19,2016-10-28,2017-01-17,2017-01-16,USD,True,39.95
13535,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,Pink,2016-10-19,2016-10-28,2016-11-11,2016-10-31,USD,False,39.95
13536,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,Pink,2016-10-19,2016-10-28,2017-01-20,2017-01-05,USD,False,39.95
13541,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,Black,2016-10-19,2016-10-28,2017-01-27,2017-01-25,USD,False,44.95
13542,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,Black,2016-10-19,2016-10-28,2017-01-17,2017-01-16,USD,False,42.35
13543,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,Black,2016-10-19,2016-10-28,2016-10-28,2016-10-27,USD,False,39.95
13544,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,Black,2016-10-19,2016-10-28,2017-01-17,2017-01-05,USD,False,39.95
13545,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,Black,2016-10-19,2016-10-28,2017-01-17,2017-01-16,USD,True,39.95
13546,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,Black,2016-10-19,2016-10-28,2016-11-11,2016-10-31,USD,False,39.95
13547,Telic,Novascarpa Group LLC,Flip,Walmart,Sandals,Black,2016-10-19,2016-10-28,2017-01-20,2017-01-05,USD,False,39.95

In [479]:
# I think these 4 date type columns are highly relative to each other, I can use one of them. I choose dateAdded.
df_new = df_new.drop(columns = ['dateAdded', 'dateUpdated', 'prices.dateAdded'])

In [483]:
from date_lib import add_datepart

In [485]:
add_datepart(df_new, 'prices.dateSeen')

In [488]:
df_new[:1].T

                                          2
brand                                 other
manufacturer                          other
manufacturerNumber                    other
prices.merchant                     Walmart
categories                            other
colors                            nan_value
prices.currency                         USD
prices.isSale                         False
prices.amountMax                         89
prices.dateSeenYear                    2016
prices.dateSeenMonth                     10
prices.dateSeenWeek                      43
prices.dateSeenDay                       27
prices.dateSeenDayofweek                  3
prices.dateSeenDayofyear                301
prices.dateSeenIs_month_end           False
prices.dateSeenIs_month_start         False
prices.dateSeenIs_quarter_end         False
prices.dateSeenIs_quarter_start       False
prices.dateSeenIs_year_end            False
prices.dateSeenIs_year_start          False
prices.dateSeenElapsed           1477526400

In [490]:
df_new = pd.get_dummies(df_new)

In [493]:
df_new.columns.tolist()

['prices.isSale',
 'prices.amountMax',
 'prices.dateSeenYear',
 'prices.dateSeenMonth',
 'prices.dateSeenWeek',
 'prices.dateSeenDay',
 'prices.dateSeenDayofweek',
 'prices.dateSeenDayofyear',
 'prices.dateSeenIs_month_end',
 'prices.dateSeenIs_month_start',
 'prices.dateSeenIs_quarter_end',
 'prices.dateSeenIs_quarter_start',
 'prices.dateSeenIs_year_end',
 'prices.dateSeenIs_year_start',
 'prices.dateSeenElapsed',
 'brand_Alfani',
 'brand_Asics',
 'brand_Bearpaw',
 'brand_Bloch',
 'brand_Brinley Co.',
 'brand_Charles by Charles David',
 'brand_Converse',
 'brand_Crocs',
 'brand_Daniel Green',
 'brand_Dansko',
 'brand_Easy Spirit',
 'brand_MICHAEL Michael Kors',
 'brand_New Balance',
 'brand_Nike',
 'brand_Nina',
 'brand_Nine West',
 'brand_Nomad',
 'brand_Propet',
 'brand_TOMS',
 'brand_Telic',
 'brand_Ugg',
 'brand_Under Armour',
 'brand_VANS',
 'brand_other',
 'manufacturer_Alfani',
 'manufacturer_Bearpaw',
 'manufacturer_Bloch',
 'manufacturer_Brinley Co',
 'manufacturer_Charles by Charles David',
 'manufacturer_Converse',
 'manufacturer_Crocs',
 'manufacturer_DANSKO',
 'manufacturer_Daniel Green',
 'manufacturer_Dansko',
 'manufacturer_Easy Spirit',
 'manufacturer_MICHAEL Michael Kors',
 'manufacturer_New Balance',
 'manufacturer_Nike',
 'manufacturer_Nina',
 'manufacturer_Nine West',
 'manufacturer_Nomad',
 'manufacturer_Novascarpa Group LLC',
 'manufacturer_Pleaser Shoes',
 'manufacturer_Propet',
 'manufacturer_Toms',
 'manufacturer_UGG Australia',
 'manufacturer_Under Armour',
 'manufacturer_VANS',
 'manufacturer_asics',
 'manufacturer_other',
 'manufacturerNumber_10004902',
 'manufacturerNumber_10007-001',
 'manufacturerNumber_5825',
 'manufacturerNumber_6020202',
 'manufacturerNumber_806020202',
 'manufacturerNumber_Anna',
 'manufacturerNumber_Flip',
 'manufacturerNumber_W5668',
 'manufacturerNumber_other',
 'prices.merchant_Overstock.com',
 'prices.merchant_Shoes.com',
 'prices.merchant_Walmart',
 'prices.merchant_other',
 'categories_Athletic',
 'categories_Boots',
 'categories_Flats',
 'categories_Heels',
 'categories_Sandals',
 'categories_Slip-ons',
 'categories_Slippers',
 'categories_Sneakers',
 'categories_other',
 'colors_Beige',
 'colors_Black',
 'colors_Blue',
 'colors_Brown',
 'colors_Gray',
 'colors_Green',
 'colors_Multicolor',
 'colors_Pink',
 'colors_Red',
 'colors_Silver',
 'colors_White',
 'colors_nan_value',
 'colors_other',
 'prices.currency_AUD',
 'prices.currency_CAD',
 'prices.currency_USD']

In [494]:
df_new = df_new[['prices.amountMax', 'prices.isSale', 'prices.dateSeenYear', 'prices.dateSeenMonth', 'prices.dateSeenWeek',
        'prices.dateSeenDay', 'prices.dateSeenDayofweek', 'prices.dateSeenDayofyear', 'prices.dateSeenIs_month_end',
 'prices.dateSeenIs_month_start', 'prices.dateSeenIs_quarter_end', 'prices.dateSeenIs_quarter_start',
 'prices.dateSeenIs_year_end', 'prices.dateSeenIs_year_start', 'prices.dateSeenElapsed', 'brand_Alfani',
 'brand_Asics', 'brand_Bearpaw', 'brand_Bloch', 'brand_Brinley Co.', 'brand_Charles by Charles David', 'brand_Converse',
 'brand_Crocs', 'brand_Daniel Green', 'brand_Dansko', 'brand_Easy Spirit', 'brand_MICHAEL Michael Kors',
 'brand_New Balance', 'brand_Nike', 'brand_Nina', 'brand_Nine West', 'brand_Nomad', 'brand_Propet', 'brand_TOMS', 'brand_Telic',
 'brand_Ugg', 'brand_Under Armour', 'brand_VANS', 'brand_other', 'manufacturer_Alfani', 'manufacturer_Bearpaw',
 'manufacturer_Bloch', 'manufacturer_Brinley Co', 'manufacturer_Charles by Charles David', 'manufacturer_Converse',
 'manufacturer_Crocs', 'manufacturer_DANSKO', 'manufacturer_Daniel Green', 'manufacturer_Dansko', 'manufacturer_Easy Spirit',
 'manufacturer_MICHAEL Michael Kors', 'manufacturer_New Balance', 'manufacturer_Nike', 'manufacturer_Nina', 'manufacturer_Nine West',
 'manufacturer_Nomad', 'manufacturer_Novascarpa Group LLC', 'manufacturer_Pleaser Shoes', 'manufacturer_Propet',
 'manufacturer_Toms', 'manufacturer_UGG Australia', 'manufacturer_Under Armour', 'manufacturer_VANS', 'manufacturer_asics',
 'manufacturer_other', 'manufacturerNumber_10004902', 'manufacturerNumber_10007-001', 'manufacturerNumber_5825',
 'manufacturerNumber_6020202', 'manufacturerNumber_806020202', 'manufacturerNumber_Anna', 'manufacturerNumber_Flip',
 'manufacturerNumber_W5668', 'manufacturerNumber_other', 'prices.merchant_Overstock.com', 'prices.merchant_Shoes.com',
 'prices.merchant_Walmart', 'prices.merchant_other', 'categories_Athletic', 'categories_Boots', 'categories_Flats',
 'categories_Heels', 'categories_Sandals', 'categories_Slip-ons', 'categories_Slippers', 'categories_Sneakers',
 'categories_other', 'colors_Beige', 'colors_Black', 'colors_Blue', 'colors_Brown', 'colors_Gray', 'colors_Green',
 'colors_Multicolor', 'colors_Pink', 'colors_Red', 'colors_Silver', 'colors_White', 'colors_nan_value', 'colors_other',
 'prices.currency_AUD', 'prices.currency_CAD', 'prices.currency_USD']]

In [496]:
df_new.to_csv('df.csv')

In [503]:
percentiles(df_new['prices.amountMax'])

array([[ 0.        ,  0.06201976,  0.55909257,  0.26930113,  0.08964508,
         0.01994146],
       [-2.        , -1.        ,  0.        ,  1.        ,  2.        ,
         3.        ]])

In [505]:
# remove the outliers after z_score 2-3.
select_outliers(df_new['prices.amountMax']).index

Int64Index([  131,   162,   175,   188,   190,   228,   281,   315,   316,
              350,
            ...
            12936, 12970, 13109, 13110, 13119, 13213, 13214, 13223, 13323,
            13409],
           dtype='int64', length=203)

In [509]:
df_new_1 = df_new.drop(index = select_outliers(df_new['prices.amountMax']).index)

In [510]:
df_new_1.shape

(5357, 103)

In [512]:
df_new_1.to_csv('df1.csv')

In [ ]:
df_new_1