In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

X_train = pd.read_feather('./X_train.feather')
y_train = pd.read_feather('./y_train.feather')['prices.amountMax']

X_val = pd.read_feather('./X_val.feather')
y_val = pd.read_feather('./y_val.feather')['prices.amountMax']

rfr = RandomForestRegressor(n_estimators=40, max_features='log2')
rfr.fit(X_train, y_train)
rfr.score(X_val, y_val)

0.5605871536030607

In [2]:
import eli5
from eli5.sklearn import PermutationImportance
pmi_limited = PermutationImportance(rfr).fit(X_val, y_val)

In [3]:
eli5.explain_weights_df(pmi_limited, feature_names = X_val.columns.to_list())

                     feature    weight       std
0              prices.isSale  0.363952  0.010768
1     prices.dateSeenElapsed  0.339953  0.025215
2                brand_other  0.154950  0.023055
3               brand_Dansko  0.140032  0.015172
4           categories_Boots  0.096119  0.008599
5   manufacturerNumber_other  0.069657  0.004625
6                  brand_Ugg  0.064418  0.005905
7        categories_Slippers  0.054026  0.005704
8        categories_Athletic  0.044342  0.004159
9          manufacturer_Nike  0.031118  0.011810
10              colors_Green  0.025795  0.006530

Let's try to remove prices.dateSeenElapsed to see how score changes.

In [4]:
train_drop_dateSeenElapsed = X_train.drop(columns = ['prices.dateSeenElapsed'])
val_drop_dateSeenElapsed = X_val.drop(columns = ['prices.dateSeenElapsed'])
rfr_dropped_dateSeenElapsed = RandomForestRegressor(n_estimators=40, max_features='log2')

rfr_dropped_dateSeenElapsed.fit(train_drop_dateSeenElapsed, y_train)
rfr_dropped_dateSeenElapsed.score(val_drop_dateSeenElapsed, y_val)

0.4492823180372233

It really drops a lot as 0.12 .

In [9]:
X_train[:5]

,prices.isSale,prices.dateSeenElapsed,brand_Dansko,brand_Ugg,brand_other,manufacturer_Nike,manufacturerNumber_other,categories_Athletic,categories_Boots,categories_Slippers,colors_Green
0,0,1475539200,0,0,1,0,1,0,0,0,0
1,0,1490400000,1,0,0,0,0,0,0,0,0
2,0,1477353600,0,0,0,0,1,0,0,0,0
3,1,1478390400,0,0,0,0,1,0,0,0,0
4,1,1475625600,0,0,1,0,1,0,0,0,0

In [7]:
train_drop_dateSeenElapsed.to_feather('./X_train_1.feather')

In [8]:
val_drop_dateSeenElapsed.to_feather('./X_val_1.feather')